<div class="panel panel-default wrapper-lg">
    <form name="reportBugForm">
        <div class="m-b-md">
            <p>Thank you for trying to reach us. Please describe the bug that you want to report and add an attachment.</p>
        </div>
        <div class="form-group">
            <textarea name="text" id="text" class="form-control" ng-model="report.text" required></textarea>
        </div>
        <div class="form-group">
            <div class="well well-sm bg-white text-xs" ng-show="report.attachment || uploading">
                <div ng-show="uploading">Uploading. Please wait</div>
                <div ng-hide="uploading">
                    <a class="text-primary" href="{{report.attachment}}" target="_blank">View uploaded image</a>
                </div>
            </div>
            <div class="pos-rlt inline" ng-hide="report.attachment || uploading">
                <input type="file" class="form-control" fileread="attachment" style="position: absolute; left: 0; right: 0; bottom: 0; top: 0; opacity: 0; cursor: pointer;">
                <a class="text-xs"><i class="icon-cloud-upload"></i> Attach File</a>
            </div>
        </div>
        <hr>
        <div class="submit-group">
            <button class="btn btn-default" ng-click="closeThisDialog()">Cancel</button>
            <button class="btn btn-success pull-right" ng-click="confirm(report)" ng-disabled="reportBugForm.$invalid">Send Report</button>
        </div>
    </form>
</div>
