<div class="panel panel-default wrapper-lg">
    <form name="reportBugForm">
        <div class="m-b-md">
            <p>Please verify your email before you can choose a plan. Check your inbox at <b>{{User.email}}</b> or use the button below to resend the verification email.</p>
        </div>
        <div class="submit-group">
            <button class="btn btn-default" ng-click="closeThisDialog()">Close</button>
            <button class="btn btn-success pull-right" ng-click="resend()" ng-loading="verificationResent">Resend Email</button>
        </div>
    </form>
</div>
