<div class="hero blend-gradient">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="text-center pull-left m-r-md m-t-sm">
                    <div class="thumb-md avatar m-t-md">
                        <img ng-hide="User.image" gravatar-src="User.email" gravatar-size="100">
                        <img ng-show="User.image" ng-src="{{getThumbnail(User.image)}}">
                    </div>
                </div>
                <div class="inline m-t-sm">
                    <h3 class="text-lg m-t-md m-b-xs">{{User.first_name}} {{User.last_name}}</h3>
                    <h5 class="text-tiny text-uppercase font-din m-t-none">Administrator</h5>
                    <h5 class="text-tiny font-din"><i class="icon-home"></i> {{User.home_location.description || "No Home Location"}}</h5>
                </div>
            </div>
            <div class="col-md-4 border-div hidden-xs">
                <div class="action-items text-center">
                    <div class="wrapper">
                        <div class="inline font-din">
                            <div class="h5">
                                <i class="icon-printer m-r-xs"></i> ACTIVE MEMBERS
                            </div>
                            <div class="h1 font-thin m-t-xs">
                                {{member_count.active || "-"}} / <span style="opacity: 0.5">{{member_count.total || "-"}}</span>
                            </div>
                            <h5>
                                <a class="btn btn-sm btn-clear btn-rounded font-din" ui-sref="admin.members"><i class="fa fa-arrow-right m-r-xs"></i> VIEW MEMBERS</a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 hidden-xs">
                <div class="bookings-today text-center">
                    <div class="wrapper">
                        <div class="inline font-din">
                            <div class="h5">
                                <i class="icon-printer m-r-xs"></i> BOOKINGS TODAY
                            </div>
                            <div class="h1 font-thin m-t-xs">
                                {{bookings.length}}
                            </div>
                            <h5>
                                <a class="btn btn-sm btn-clear btn-rounded font-din" ui-sref="admin.bookings"><i class="fa fa-arrow-right m-r-xs"></i> VIEW ALL</a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ui-view></div>
<div class="home-feed container">
    <div class="centered-content m-t-lg m-b-lg">
        <div class="col-md-3 hidden-xs">
            <div class="section-title">
                Feeds
            </div>
            <ul class="plain-list">
                <li class="list-group-item" ng-class="{'font-bold': !activeCategory}">
                    <a ng-click="switchTo('home')">Home</a>
                </li>
                <li class="list-group-item" ng-repeat="category in categories" ng-class="{'font-bold': activeCategory == category}">
                    <a ng-click="switchTo(category)">{{category.name}}</a>
                </li>
            </ul>
            <hr class="m-b-none m-t-sm">
            <ul class="plain-list">
                <li class="list-group-item">
                    <a class="text-xs text-muted" ng-click="manageCategories()">Manage Categories</a>
                </li>
            </ul>
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="section-title text-uppercase">
                {{activeCategory ? activeCategory.name : "HOME" }} <a class="pull-right text-primary" ng-click="shareLink()"><i class="icon-link"></i> SHARE LINK</a>
            </div>
            <ng-include src="'modules/common/feed/feed.html'"></ng-include>
        </div>
    </div>
</div>
<script id="ManageSources" type="text/ng-template">
    <div class="ngdialog-close" ng-click="confirm()"></div>
    <div class="panel panel-default wrapper-lg">
        <div class="h4 text-uppercase font-bold font-din m-b-lg">Manage Categories</div>
        <form name="categoryCreateForm">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-8">
                        <input type="text" class="form-control" ng-model="category_name" placeholder="Add new category" required>
                    </div>
                    <div class="col-xs-4 no-padder">
                        <button class="btn btn-default btn-sm m-t-xxs" ng-disabled="categoryCreateForm.$invalid" ng-click="add(category_name)" ng-loading="addedCategory">Save</button>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <ul class="plain-list">
            <li class="list-group-item" ng-repeat="category in categories">
                <div class="row">
                    <div class="col-xs-8">
                        <input type="text" class="form-control" ng-model="category.name" required>
                    </div>
                    <div class="col-xs-4 no-padder">
                        <button class="btn btn-default btn-sm m-t-xxs m-r-sm" ng-disabled="!category.name" ng-click="update(category)" ng-loading="updatedCategory">Update</button>
                        <button class="btn btn-clear-danger btn-sm m-t-xxs" ng-click="delete(category)" ng-loading="deletedCategory"><i class="fa fa-trash"></i></button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</script>
<script type="text/ng-template" id="ShareLink">
    <div class="panel panel-default wrapper-lg">
        <div class="h4 text-uppercase font-bold font-din m-b-lg">Share Link</div>
        <form name="linkShareForm">
            <div class="material-group">
                <input name="postUrl" type="url" ng-model="post.link" required>
                <label>URL</label>
            </div>
            <div class="material-group">
                <label for="category">Category</label>
                <div class="select">
                    <select name="category" ng-model="post.feed_category_id" ng-options="category.id as category.name for category in categories" required>
                        <option value="">Chose Category</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <textarea name="comment" placeholder="Add a message (Optional)" class="form-control" ng-model="post.body"></textarea>
            </div>
            <div class="submit-group">
                <button class="btn btn-lg btn-primary btn-block" ng-disabled="linkShareForm.$invalid" ng-click="share()" ng-loading="linkShared">Share</button>
            </div>
        </form>
    </div>
</script>
<script type="text/ng-template" id="FilterFeed">
    <div class="col-md-3">
        <div class="section-title">
            Feeds
        </div>
        <ul class="plain-list">
            <li class="list-group-item" ng-class="{'font-bold': !activeCategory}">
                <a ng-click="switchTo('home')">Home</a>
            </li>
            <li class="list-group-item" ng-repeat="category in categories" ng-class="{'font-bold': activeCategory == category}">
                <a ng-click="switchTo(category)">{{category.name}}</a>
            </li>
        </ul>
        <hr class="m-b-sm m-t-sm">
        <div class="text-tiny m-t-sm">
            <a href="" class="text-muted m-r-xs">Contact</a> ·
            <a href="" class="text-muted m-r-xs">Terms</a>
        </div>
    </div>
</script>
