<div class="panel panel-default wrapper-lg">
    <div class="m-b-lg">
        <div class="h4 text-uppercase font-bold font-din m-b-sm">Buy More Tokens</div>
        <p class="text-muted">Please note that any tokens you buy will expire with your current subscription.</p>
    </div>
    <form name="buyTokensForm">
        <div class="form-group row m-b-md">
            <div class="col-xs-6">
                <label class="control-label">How many tokens?</label>
                <input type="number" class="form-control" ng-model="tokens" step="1" min="1" required>
            </div>
            <div class="col-xs-6">
                <label class="control-label">Total Cost</label>
                <p class="m-t-xs">
                    <span ng-show="tokens">{{tokens * token_cost | currency : "NGN " : 0}}</span>
                    <span ng-hide="tokens">NGN 0</span>
                </p>
            </div>
        </div>
        <div class="charge-warning" ng-hide="User.team_registration && !User.is_team_admin && User.team_registration.use_team_card">
            Your <span class="text-capitalize">{{User.paystack_authorization.card_type}}</span> card ending in <b>{{User.paystack_authorization.last_four_digits}}</b> will be charged. <a ng-click="closeThisDialog()" ui-sref="user.account.payment">Change Payment Method</a>
        </div>
        <div class="form-group text-sm m-b-lg" ng-if="User.team_registration && !User.is_team_admin && User.team_registration.use_team_card" ng-init="use_team_card = 'true'">
            <div class="radio">
                <label class="i-checks">
                    <input type="radio" name="use_team_card" value="true" ng-model="use_team_card">
                    <i></i> Use team card
                </label>
            </div>
            <div class="radio" ng-show="User.paystack_authorization">
                <label class="i-checks">
                    <input type="radio" name="use_team_card" value="false" ng-model="use_team_card">
                    <i></i> Use my card ({{User.paystack_authorization.card_type.capitalizeFirstLetter()}} {{User.paystack_authorization.last_four_digits}})
                </label>
            </div>
        </div>
        <div class="submit-group">
            <button class="btn btn-clear-danger" ng-click="closeThisDialog()">Cancel</button>
            <button class="btn btn-brand pull-right" ng-click="buy()" ng-disabled="buyTokensForm.$invalid" ng-loading="tokensPurchased">Buy Tokens</button>
        </div>
    </form>
</div>
