<div id="Community">
    <div class="container container-md">
        <div class="col-md-10 col-sm-12 center-block">
            <div class="wrapper-lg" style="min-height: 100vh">
                <div class="nav-tabs-alt m-b-lg">
                    <ul class="nav nav-tabs" role="tablist">
                        <li ng-class="{active: !$stateParams.status}"><a ng-click="reload({})">All Members <span ng-show="!$stateParams.status">({{meta.total}})</span></a></li>
                        <li ng-class="{active: $stateParams.status == 'active'}"><a ng-click="reload({status: 'active'})"><i class="fa fa-circle-o m-r-xs text-success"></i> Active Plan <span ng-show="$stateParams.status == 'active'">({{meta.total}})</span></a></li>
                        <li ng-class="{active: $stateParams.status == 'inactive'}"><a ng-click="reload({status: 'inactive'})"><i class="fa fa-circle-o m-r-xs text-danger"></i> Inactive <span ng-show="$stateParams.status == 'inactive'">({{meta.total}})</span></a></li>
                        <li class="pull-right">
                            <a class="text-muted" ng-dialog="SearchByID" ng-dialog-scope="this">Search By ID</a>
                        </li>
                    </ul>
                </div>
                <form action="searchForm">
                    <div class="form-group pos-rlt" ng-init="search = $stateParams.search">
                        <input name="search" ng-change="find(search)" ng-model-options="{debounce: 200}" type="text" placeholder="Search for a member" class="form-control input-lg" ng-model="search" ng-enter="reload({search: search})">
                        <div style="position: absolute; right: 20px; top: 10px;" ng-show="searching">
                            <i class="fa fa-spinner fa-spin"></i> Searching
                        </div>
                    </div>
                </form>
                <div class="panel panel-default wrapper-sm">
                    <div class="wrapper-md inline w-full" ng-repeat="member in members" ng-class="{'b-b': !$last}">
                        <div class="row">
                            <div class="col-md-2 text-center" style="padding: 0">
                                <div class="thumb-lg avatar m-t-sm">
                                    <img ng-hide="member.image" gravatar-src="member.email" gravatar-size="100">
                                    <img ng-show="member.image" ng-src="{{getThumbnail(member.image)}}">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <p class="m-t-xs m-b-xs">
                                    <b>{{member.first_name}} {{member.last_name}}</b>
                                    <span class="title-badge text-success" ng-if="member.active_subscription"><i class="fa fa-circle"></i> ACTIVE PLAN</span>
                                    <span class="title-badge text-danger" ng-if="!member.active_subscription"><i class="fa fa-circle"></i> INACTIVE</span>
                                </p>
                                <p class="text-xs m-b-xs">Email: <b>{{member.email}}</b></p>
                                <p class="text-xs m-b-xs">{{member.active_subscription ? 'Current':'Last'}} Subscription: <b ng-hide="member.has_office">{{member.subscription_plan_name || "None"}}</b> <b ng-show="member.has_office">Private Office</b></p>
                                <p class="text-xs"><i class="icon-home"></i> {{member.home_location.description || 'Not Set'}}</p>
                            </div>
                            <div class="col-md-3 text-right">
                                <a class="btn btn-sm btn-default pull-right m-b-xs" ui-sref="admin.member({id: member.id})">View Member</a>
                                <div></div>
                                <a class="btn btn-sm btn-default pull-right" ng-click="message(member)">Send Message</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper-md" ng-show="members.length == 0">
                    <div class="empty-div">
                        <div class="m-b-sm"><i class="icon-frame fa-5x"></i></div>
                        <h4 class="font-thin">No results</h4>
                    </div>
                </div>
                <div class="text-center" paging page="meta.page" page-size="meta.perPage" total="meta.total" paging-action="goToPage(page)" ul-class="pagination m-n"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="SearchByID">
    <div class="panel panel-default wrapper-lg">
        <div class="h4 text-uppercase font-bold font-din m-b-lg">Search By ID</div>
        <form name="searchIDForm">
            <div class="form-group">
                <input type="text" class="form-control input-lg" ng-model="user_id" placeholder="User ID" required>
            </div>
            <div class="submit-group">
                <button class="btn btn-lg btn-primary btn-block" ng-click="goToUser(user_id); closeThisDialog();">Go to user</button>
            </div>
        </form>
    </div>
</script>
