<div class="flex-container-column">
    <header class="wrapper-md b-b" ng-init="can_click = User.isAdmin && !isAdmin(conversation.receiver)">
        <i class="icon-user m-r-xs"></i>
        <a class="text-primary" ng-show="can_click" ui-sref="admin.member({id: conversation.receiver.id})">
            {{conversation.receiver.first_name}} {{conversation.receiver.last_name}} <span ng-if="isAdmin(conversation.receiver)" class="badge badge-admin">Admin</span>
        </a>
        <span ng-show="!can_click">
            {{conversation.receiver.first_name}} {{conversation.receiver.last_name}} <span ng-if="isAdmin(conversation.receiver)" class="badge badge-admin">Admin</span>
        </span>
        <div class="pull-right text-xs">
            <a ng-click="newConversation()" class="text-xs m-t-xxs text-primary">
                <i class="fa fa-plus m-r-xs"></i> New
            </a>
            <div class="dropdown m-l-md pull-right m-l-md" uib-dropdown>
                <a href class="dropdown-toggle clear text-muted" uib-dropdown-toggle>
                    <i class="fa fa-ellipsis-h"></i>
                </a>
                <ul class="dropdown-menu animated fadeInUp" role="menu" uib-dropdown-menu>
                    <li><a ng-click="leaveConversation()">Leave Conversation</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="frame-content scrollable" scroll-glue>
        <div class="wrapper-sm">
            <ul class="list-group list-group-lg no-radius no-border no-bg m-b-none">
                <li class="list-group-item no-border clearfix" ng-repeat="r in receipts | orderBy : 'created_at'" ng-init="r.is_self = r.sender.id == User.id && r.sender.uid == User.uid">
                    <div>
                        <a class="avatar thumb-sm m-t-xs" ng-class="{'pull-left m-r': !r.is_self, 'pull-right m-l': r.is_self}">
                            <img ng-show="r.sender.image" ng-src="{{getThumbnail(r.sender.image)}}">
                            <img ng-hide="r.sender.image" gravatar-src="r.sender.email" gravatar-size="150">
                        </a>
                        <div class="clear" ng-class="{'text-right': r.is_self}">
                            <div class="text-tiny text-muted">
                                {{r.created_at | date : "MMM d h:mm a"}}
                                <span ng-show="r.is_self" class="m-l-xs text-muted">&bull;</span>
                                <a ng-show="r.is_self" class="m-l-xs" ng-click="delete(r)"><i class="fa fa-trash"></i></a>
                            </div>
                            <div class="text-sm m-t-xxs message-body" ng-if="!r.attachment" ng-bind-html="r.message.body | linky : '_blank' | emojify"></div>
                            <div class="text-sm m-t-xxs" ng-if="r.attachment" ng-init="isImage = ['jpg','png',gif].indexOf(r.attachment.format) > -1">
                                <div ng-if="isImage">
                                    <div class="panel b-a" style="max-width: 250px; float: none; display: inline-block;">
                                        <a target="_blank" href="{{r.attachment.url}}"><img ng-src="{{r.attachment.url}}" class="img-full"></a>
                                    </div>
                                </div>
                                <div ng-if="!isImage">
                                    <a target="_blank" href="{{r.attachment.url}}" class="btn btn-addon btn-sm btn-info m-t-xs" download><i class="icon-cloud-download"></i> Attachment: {{r.attachment.original_filename}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <footer class="wrapper-sm b-t">
        <form name="postMessage" class="post-message" ng-submit="send(message)">
            <span class="message-emoji" emoji-picker="message" output-format="unicode" title="Emoji"></span>
            <textarea name="post" id="post" rows="2" class="form-control" ng-model="message" placeholder="Write a message" style="resize: none" cmd-enter autofocus required></textarea>
            <div class="actions m-t-sm">
                <div class="pos-rlt inline">
                    <input type="file" class="form-control" fileread="attachment" style="position: absolute; left: 0; right: 0; bottom: 0; top: 0; opacity: 0; cursor: pointer; width: 17px; -webkit-appearance: none; padding: 0; z-index: 10;">
                    <a class="text-xs"><i class="fa fa-photo"></i></a>
                </div>
                <div class="pos-rlt inline">
                    <input type="file" class="form-control" fileread="attachment" style="position: absolute; left: 0; right: 0; bottom: 0; top: 0; opacity: 0; cursor: pointer; width: 17px; -webkit-appearance: none; padding: 0; z-index: 10;">
                    <a class="text-xs"><i class="fa fa-paperclip"></i></a>
                </div>
                <button class="btn btn-sm btn-primary pull-right" ng-disabled="postMessage.$invalid" ng-click="send(message)" ng-loading="sendMessage">Send</button>
            </div>
        </form>
    </footer>
</div>
<script type="text/ng-template" id="UploadAttachment">
    <div class="panel panel-default">
        <div class="wrapper-lg">
            <h4 class="font-thin">Send File</h4>
            <div class="form-group m-t-lg">
                <i class="fa fa-spinner fa-spin m-r-xs"></i> {{file.name}}
            </div>
        </div>
        <div class="submit-group text-center">
            <div class="bg-black text-brand wrapper">Uploading attachment</button>
            </div>
        </div>
</script>
