<div class="two-section-frame container-md">
    <div class="frame-left b-r" ng-class="{'hidden-xs': $state.current.name != 'user.messages' && $state.current.name != 'admin.messages'}">
        <div class="flex-container-column">
            <header class="wrapper b-b">
                <div class="input-group" style="margin-bottom: 2px">
                    <span class="input-group-addon input-sm no-border no-bg"><i class="icon-magnifier text-md m-t-xxs"></i></span>
                    <input type="text" ng-model="query.receiver" class="form-control input-sm no-border no-bg text-sm" placeholder="Search All conversations">
                </div>
            </header>
            <div class="frame-content scrollable">
                <div class="wrapper-md" ng-show="filteredConversations.length == 0">
                    <div class="empty-div">
                        <div class="m-b-sm"><i class="icon-frame fa-5x"></i></div>
                        <h4 class="font-thin">No conversations</h4>
                    </div>
                </div>
                <ul class="list-group list-group-lg no-radius no-border no-bg m-b-none" ng-show="filteredConversations.length > 0">
                    <li class="list-group-item clearfix clickable" ng-repeat="c in (filteredConversations = (conversations | filter: query | orderBy : '!updated_at'))" ng-class="{'has-unread': c.unread.length,'list-group-dk': $stateParams.id == c.id}" ng-hide="c.receiver.email == User.email" ng-click="clearUnread(c)" ui-sref=".one({id: c.id})">
                        <a class="avatar thumb-sm pull-left m-r m-t-xs">
                            <img ng-show="c.receiver.image" ng-src="{{getThumbnail(c.receiver.image)}}">
                            <img ng-hide="c.receiver.image" gravatar-src="c.receiver.email" gravatar-size="100">
                        </a>
                        <div class="pull-right text-xs text-muted">
                            <span class="hidden-xs">{{c.updated_at | date: 'MMM d' }}</span>
                        </div>
                        <div class="clear">
                            <div><a class="text-sm">{{c.receiver.first_name}} {{c.receiver.last_name}}</a></div>
                            <div class="text-ellipsis text-xs text-muted m-t-xxs">
                                <span ng-show="isAttachment(c.last_message.body)">Attachment</span>
                                <span ng-hide="isAttachment(c.last_message.body)">{{c.last_message.body || 'New Conversation'}}</span>
                            </div>
                        </div>
                        <span class="unread" ng-show="c.unread.length">{{c.unread.length}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="frame-right" ng-class="{'hidden-xs': $state.current.name == 'user.messages' || $state.current.name == 'admin.messages'}" ui-view>
        <div class="flex-container-column">
            <header class="wrapper-md b-b">
                <a ng-click="newConversation()" class="pull-right text-xs m-t-xxs text-primary">
                    <i class="fa fa-plus"></i> New Conversation
                </a>
            </header>
        </div>
    </div>
</div>
<script type="text/ng-template" id="NewConversation">
    <div class="panel panel-default panel-300">
        <div ng-hide="compose">
            <header class="wrapper b-b">
                <div class="input-group" style="margin-bottom: 2px">
                    <span class="input-group-addon input-sm no-border no-bg"><i class="icon-magnifier text-md m-t-xxs"></i></span>
                    <input type="text" class="form-control input-sm no-border no-bg text-sm" ng-model="query" ng-change="search(query)" ng-model-options="{debounce: 500}" placeholder="Search users / conversations">
                </div>
            </header>
            <div>
                <div class="wrapper-sm text-sm text-center" ng-show="searching"><i class="fa fa-spinner fa-spin"></i> Searching</div>
                <div class="wrapper-md" ng-show="users.length == 0 && !searching">
                    <div class="empty-div">
                        <h4 class="font-thin m-t-lg">Start typing to search for a user</h4>
                    </div>
                </div>
                <ul class="list-group list-group-lg no-radius no-border no-bg m-b-none" ng-show="!searching && users.length > 0">
                    <li class="list-group-item clearfix clickable" ng-repeat="user in users | limitTo: 20" ng-click="converseWith(user)">
                        <a class="avatar thumb-sm pull-left m-r m-t-xs">
                            <img ng-show="user.image" ng-src="{{getThumbnail(user.image)}}">
                            <img ng-hide="user.image" gravatar-src="user.email" gravatar-size="100">
                        </a>
                        <div class="clear">
                            <div><a class="text-sm">{{user.first_name}} {{user.last_name}} <span ng-show="!user.first_name && !user.last_name">New User</span> <span ng-if="user.is_admin" class="badge badge-admin">Admin</span></a></div>
                            <div class="text-ellipsis text-muted text-sm">{{user.email}}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="wrapper-lg animated fadeInUp" ng-if="compose">
            <div class="h4 text-uppercase font-bold font-din m-b-lg">New Message to {{compose.recipient.first_name}} {{compose.recipient.last_name}}</div>
            <form name="messageComposeForm">
                <div class="form-group">
                    <textarea rows="3" class="form-control" ng-model="message.body" placeholder="Message body" required></textarea>
                </div>
                <div class="submit-group">
                    <button class="btn btn-lg btn-primary btn-block" ng-disabled="messageComposeForm.$invalid" ng-click="start(message.body)" ng-loading="conversationStarted">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</script>
