/* Webfont: WSFont */

@font-face {
    font-family: 'WSFont';
    src: url('WSFont-Light.eot'); /* IE9 Compat Modes */
    src: url('WSFont-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('WSFont-Light.woff') format('woff'), /* Modern Browsers */
         url('WSFont-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('WSFont-Light.svg#WSFont-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'WSFont';
    src: url('WSFont-Regular.eot'); /* IE9 Compat Modes */
    src: url('WSFont-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('WSFont-Regular.woff') format('woff'), /* Modern Browsers */
         url('WSFont-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('WSFont-Regular.svg#WSFont-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

 @font-face {
    font-family: 'WSFont';
    src: url('WSFont-Bold.eot'); /* IE9 Compat Modes */
    src: url('WSFont-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('WSFont-Bold.woff') format('woff'), /* Modern Browsers */
         url('WSFont-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('WSFont-Bold.svg#WSFont-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

