<div class="panel panel-default no-padder" ng-repeat="plan in plans">
    <div class="inline w-full">
        <div class="wrapper-md">
            <h4 class="m-t-xs m-b-xs">{{plan.name}}</h4>
            <p class="m-n text-xs text-muted">{{plan.description}}</p>
        </div>
        <div class="padder b-t" ng-hide="active_plan.id == plan.id">
            <div class="inline wrapper-sm" ng-show="plan.daily_price">
                <h5 class="text-tiny font-bold m-b-none">Daily</h5>
                <h5 class="m-t-xs">{{plan.daily_price | currency : "NGN " : 0}}</h5>
            </div>
            <div class="inline wrapper-sm" ng-show="plan.monthly_price">
                <h5 class="text-tiny font-bold m-b-none">Monthly</h5>
                <h5 class="m-t-xs">{{plan.monthly_price | currency : "NGN " : 0}}</h5>
            </div>
            <div class="inline wrapper-sm" ng-show="plan.yearly_price">
                <h5 class="text-tiny font-bold m-b-none">Yearly</h5>
                <h5 class="m-t-xs">{{plan.yearly_price | currency : "NGN " : 0}}</h5>
            </div>
            <div class="pull-right">
                <button class="btn btn-default btn-sm m-t-md" ng-click="subscribeTo(plan)">Choose</button>
            </div>
        </div>
        <div ng-show="active_plan.id == plan.id">
            <div class="wrapper b-t">
                <form name="subscriptionForm" class="inline w-full">
                    <div class="col-xs-12 no-padder-sm">
                        <div class="form-group">
                            <p class="text-xs font-bold">Subscription interval</p>
                            <div class="select" style="width: 200px">
                                <select name="interval" ng-model="subscription.interval" class="form-control" ng-options="interval.slug as interval.name for interval in plan.intervals" required>
                                    <option value="">Choose</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-if="plan.days < 5">
                            <label for="" class="control-label">What days will you be present weekly (Choose {{plan.days}})?</label>
                            <div class="">
                                <label class="checkbox-inline i-checks text-xs">
                                    <input type="checkbox" ng-click="addDays()" ng-model="days.monday" ng-disabled="subscription.days.length >= plan.days && !days.monday"><i></i> Mon
                                </label>
                                <label class="checkbox-inline i-checks text-xs">
                                    <input type="checkbox" ng-click="addDays()" ng-model="days.tuesday" ng-disabled="subscription.days.length >= plan.days && !days.tuesday"><i></i> Tues
                                </label>
                                <label class="checkbox-inline i-checks text-xs">
                                    <input type="checkbox" ng-click="addDays()" ng-model="days.wednesday" ng-disabled="subscription.days.length >= plan.days && !days.wednesday"><i></i> Wed
                                </label>
                                <label class="checkbox-inline i-checks text-xs">
                                    <input type="checkbox" ng-click="addDays()" ng-model="days.thursday" ng-disabled="subscription.days.length >= plan.days && !days.thursday"><i></i> Thurs
                                </label>
                                <label class="checkbox-inline i-checks text-xs">
                                    <input type="checkbox" ng-click="addDays()" ng-model="days.friday" ng-disabled="subscription.days.length >= plan.days && !days.friday"><i></i> Fri
                                </label>
                            </div>
                        </div>
                        <div class="form-group m-t-md" ng-show="toPaySetupFee(User.id, plan)">
                            <p class="text-xs font-bold m-b-xs"><i class="fa fa-exclamation-circle"></i> Includes Setup Fee ({{plan.setup_fee | currency : "NGN " : 0}})</p>
                            <p class="text-xs">{{plan.setup_description}}</p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="padder b-t" ng-init="setup_fee = toPaySetupFee(User.id, plan) ? plan.setup_fee : 0">
                <div class="inline wrapper-sm" ng-switch="subscription.interval">
                    <h5 class="text-tiny font-bold m-b-none">Total</h5>
                    <h4 class="m-t-xs" ng-switch-when="daily"><b>Daily:</b> {{plan.daily_price + setup_fee | currency : "NGN " : 0}}</h4>
                    <h4 class="m-t-xs" ng-switch-when="monthly"><b>Monthly:</b> {{plan.monthly_price + setup_fee | currency : "NGN " : 0}}</h4>
                    <h4 class="m-t-xs" ng-switch-when="yearly"><b>Yearly:</b> {{plan.yearly_price + setup_fee | currency : "NGN " : 0}}</h4>
                    <h4 class="m-t-xs" ng-switch-default>-</h4>
                </div>
                <div class="pull-right pull-left-sm wrapper pay-button">
                    <button class="btn btn-sm btn-brand" ng-click="pay(subscription)" ng-loading="subscriptionDone" ng-disabled="subscriptionForm.$invalid || subscription.days.length < active_plan.days">Pay with card {{User.paystack_authorization.last_four_digits}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
