<div class="panel panel-default wrapper-md">
    <div class="row no-padder">
        <div class="col-md-7 col-xs-9">
            <h5 class="font-din font-bold m-t-none text-muted">YOUR LAST PLAN</h5>
            <h4 class="m-t-xxs m-b-xs">{{current_plan.name}} {{current_subscription.interval}}: {{current_subscription.price | currency : "NGN " : 0}}</h4>
        </div>
        <div class="col-md-5 col-xs-12 text-right">
            <button class="btn btn-sm btn-brand m-t-sm" ng-click="renew()" ng-loading="subscriptionDone">Renew Plan</button>
        </div>
    </div>
</div>
