<div class="header" ng-controller="HeaderController">
    <div class="container">
        <div class="logo pull-left">
            <a ui-sref="admin.home"><img src="assets/img/logo_icon.png" alt="Workstation App"></a>
        </div>
        <div class="search pull-left">
            <input type="text" class="search-input" placeholder="Search for a member" ng-model="query" ng-enter="goTo('admin.members', {search: query})">
        </div>
        <ul class="header-menu font-din hidden-xs">
            <li ui-sref-active="active"><a ui-sref="admin.home" ui-sref-opts="{reload: true}">Home</a></li>
            <li ui-sref-active="active"><a ui-sref="admin.messages" ui-sref-opts="{reload: true}">Messages <span class="unread" ng-show="unread.length">{{unread.length}}</span></a></li>
            <li ui-sref-active="active"><a ui-sref="admin.members" ui-sref-opts="{reload: true}">Members</a></li>
            <li ui-sref-active="active"><a ui-sref="admin.bookings" ui-sref-opts="{reload: true}">Bookings</a></li>
            <li ui-sref-active="active"><a ui-sref="admin.events" ui-sref-opts="{reload: true}">Events</a></li>
            <li class="dropdown m-l-md" uib-dropdown>
                <a href class="dropdown-toggle clear" uib-dropdown-toggle>
                    <span class="thumb-xs avatar m-r-xs">
                        <img ng-hide="User.image" gravatar-src="User.email" gravatar-size="100">
                        <img ng-show="User.image" ng-src="{{getThumbnail(User.image)}}">
                        <i class="on md b-white bottom"></i>
                    </span>
                    <span>ADMIN</span><b class="caret"></b>
                </a>
                <ul class="dropdown-menu animated fadeInUp" role="menu" uib-dropdown-menu>
                    <li ui-sref-active="active" class="b-b"><a ui-sref="admin.settings">Settings</a></li>
                    <li><a ng-click="logout()">Logout</a></li>
                </ul>
            </li>
        </ul>
        <ul class="header-menu font-din visible-xs">
            <li class="dropdown m-l-md" uib-dropdown>
                <a href class="dropdown-toggle clear" uib-dropdown-toggle>
                    <span class="thumb-xs avatar m-r-xs">                    
                        <img ng-hide="User.image" gravatar-src="User.email" gravatar-size="100">
                        <img ng-show="User.image" ng-src="{{getThumbnail(User.image)}}">
                        <i class="on md b-white bottom"></i>
                    </span>
                    <span>You</span><b class="caret"></b>
                </a>
                <ul class="dropdown-menu animated fadeInUp" role="menu" uib-dropdown-menu>
                    <li ui-sref-active="active"><a ui-sref="admin.home" ui-sref-opts="{reload: true}">Home</a></li>
                    <li ui-sref-active="active"><a ui-sref="admin.messages" ui-sref-opts="{reload: true}">Messages</a></li>
                    <li ui-sref-active="active"><a ui-sref="admin.members" ui-sref-opts="{reload: true}">Members</a></li>
                    <li ui-sref-active="active"><a ui-sref="admin.events" ui-sref-opts="{reload: true}">Events</a></li>
                    <li class="b-b"><a ui-sref="admin.settings" ui-sref-opts="{reload: true}">Settings</a></li>
                    <li><a ng-click="logout()">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="app-frame animated fadeIn" ng-class="{'skeleton': ui.skeleton, 'full-height': ui.fullHeight}" ui-view>
</div>
