<div class="panel panel-default wrapper-lg">
    <div class="h4 text-uppercase font-bold font-din m-b-lg">Edit {{::office.name}}</div>
    <form name="officeUpdateForm">
        <div class="form-group inline w-full">
            <label class="col-sm-3 control-label">Office Name</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" ng-model="office.name" placeholder="Office Name" required>
            </div>
        </div>
        <div class="form-group inline w-full">
            <label class="col-sm-3 control-label">Description</label>
            <div class="col-sm-9">
                <textarea rows="3" class="form-control" ng-model="office.description" placeholder="Office Description"></textarea>
            </div>
        </div>
        <div class="form-group inline w-full">
            <label class="col-sm-3 control-label">Allowed Seats</label>
            <div class="col-sm-9">
                <input class="form-control" ng-model="office.seats_no" type="number" step="1" min="0" placeholder="Seats" required>
            </div>
        </div>
        <div class="form-group inline w-full">
            <label class="col-sm-3 control-label">Additional Spaces</label>
            <div class="col-sm-9">
                <input class="form-control" ng-model="office.additional_spaces" type="number" step="1" min="0" placeholder="Additional Spaces">
            </div>
        </div>
        <div class="form-group inline w-full">
            <label class="col-sm-3 control-label">Office Limit</label>
            <div class="col-sm-9">
                <input class="form-control" ng-model="office.limit" type="number" step="1" min="0" placeholder="Leave blank if infinite">
            </div>
        </div>
        <div class="form-group inline w-full">
            <label class="col-sm-3 control-label">Setup Fee</label>
            <div class="col-sm-9">
                <input class="form-control" rows="3" ng-model="office.setup_fee" currency-mask placeholder="Setup fee amount">
            </div>
        </div>
        <div class="form-group inline w-full">
            <label class="col-sm-3 control-label">Describe Fee</label>
            <div class="col-sm-9">
                <input class="form-control" ng-model="office.setup_description" placeholder="Setup fee description">
            </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group inline w-full">
            <label class="col-sm-3 control-label">Durations</label>
            <div class="col-sm-9">
                <label class="checkbox-inline i-checks">
                    <input type="checkbox" ng-model="office.has_monthly_option" ng-click="reset(['monthly_price', 'monthly_tokens', 'monthly_bw_printing_allowance', 'monthly_rgb_printing_allowance'])"><i></i> Monthly
                </label>
                <label class="checkbox-inline i-checks">
                    <input type="checkbox" ng-model="office.has_yearly_option" ng-click="reset(['yearly_price', 'yearly_tokens', 'yearly_bw_printing_allowance', 'yearly_rgb_printing_allowance'])"><i></i> Yearly
                </label>
            </div>
        </div>
        <div ng-show="office.has_monthly_option">
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group inline w-full">
                <label class="col-sm-3 control-label-alt">Monthly
                    <br> Options</label>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-6 m-b-sm">
                            <label class="font-bold m-b-sm text-xs">Price Per Seat</label>
                            <input class="form-control" type="text" ng-model="office.monthly_price" currency-mask ng-required="office.has_monthly_option">
                        </div>
                        <div class="col-xs-6 m-b-sm">
                            <label class="font-bold m-b-sm text-xs">Office Token</label>
                            <input class="form-control" type="number" step="1" min="0" ng-model="office.monthly_tokens" ng-required="office.has_monthly_option">
                        </div>
                        <div class="col-xs-6 m-b-sm">
                            <label class="font-bold m-b-sm text-xs">Office B/W Print</label>
                            <input class="form-control" type="number" step="1" min="0" ng-model="office.monthly_bw_printing_allowance" ng-required="office.has_monthly_option && office.can_print">
                        </div>
                        <div class="col-xs-6 m-b-sm">
                            <label class="font-bold m-b-sm text-xs">Office Color Print</label>
                            <input class="form-control" type="number" step="1" min="0" ng-model="office.monthly_rgb_printing_allowance" ng-required="office.has_monthly_option && office.can_print">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="office.has_yearly_option">
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group inline w-full">
                <label class="col-sm-3 control-label-alt">Yearly
                    <br> Options</label>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-6 m-b-sm">
                            <label class="font-bold m-b-sm text-xs">Price Per Seat</label>
                            <input class="form-control" type="text" ng-model="office.yearly_price" currency-mask ng-required="office.has_yearly_option">
                        </div>
                        <div class="col-xs-6 m-b-sm">
                            <label class="font-bold m-b-sm text-xs">Office Tokens</label>
                            <input class="form-control" type="number" step="1" min="0" ng-model="office.yearly_tokens" ng-required="office.has_yearly_option">
                        </div>
                        <div class="col-xs-6 m-b-sm">
                            <label class="font-bold m-b-sm text-xs">Office B/W Print</label>
                            <input class="form-control" type="number" step="1" min="0" ng-model="office.yearly_bw_printing_allowance" ng-required="office.has_yearly_option && office.can_print">
                        </div>
                        <div class="col-xs-6 m-b-sm">
                            <label class="font-bold m-b-sm text-xs">Office Color Print</label>
                            <input class="form-control" type="number" step="1" min="0" ng-model="office.yearly_rgb_printing_allowance" ng-required="office.has_yearly_option && office.can_print">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="submit-group">
            <button class="btn btn-lg btn-brand btn-block" ng-disabled="officeUpdateForm.$invalid" ng-click="save()" ng-loading="officeCreated">Update Office</button>
        </div>
    </form>
</div>
