<div class="panel panel-default wrapper-lg">
    <div class="h4 text-uppercase font-bold font-din m-b-lg">Edit Location {{location.id}}</div>
    <form name="locationForm">
        <div class="row" ng-controller="LocationStatesCitiesController">
            <div class="col-xs-6">
                <label>Country</label>
                <div class="form-group">
                    <div angucomplete-alt placeholder="Search countries" pause="100" selected-object="populateCountry" local-data="countries" search-fields="name" title-field="name" minlength="1" input-class="form-control input-lg" initial-value="location.country.name"></div>
                    <input type="text" ng-model="location.country_code" style="display: none" required>
                </div>
            </div>
            <div class="col-xs-6">
                <label>State</label>
                <div class="form-group">
                    <div id="states" angucomplete-alt placeholder="{{loadingStates ? 'Loading States' : 'Choose States'}}" pause="100" selected-object="populateState" local-data="states" search-fields="name" title-field="name" minlength="1" input-class="form-control input-lg" disable-input="loadingStates" initial-value="location.state.name"></div>
                    <input type="text" ng-model="location.state_shortcode" style="display: none" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="address">Street Address</label>
            <input class="form-control input-lg" type="text" ng-model="location.street_address" placeholder="Workstation Address" required>
        </div>
        <div class="form-group">
            <label for="address">Description</label>
            <input class="form-control input-lg" type="text" ng-model="location.description" placeholder="Workstation Ikoyi" required>
        </div>
        <div class="submit-group">
            <button class="btn btn-lg btn-primary btn-block" ng-disabled="locationForm.$invalid" ng-click="save()" ng-loading="locationUpdated">Save location</button>
        </div>
    </form>
</div>
