<div class="panel panel-default wrapper-lg" ng-if="!plan.is_add_on">
    <div class="h4 text-uppercase font-bold font-din m-b-lg">Edit {{::plan.name}}</div>
    <form name="planCreateForm">
        <div class="form-group inline w-full">
            <label class="col-sm-3 control-label">Plan Name</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" ng-model="plan.name" placeholder="Plan Name" required>
            </div>
        </div>
        <div class="form-group inline w-full">
            <label class="col-sm-3 control-label">Description</label>
            <div class="col-sm-9">
                <textarea rows="3" class="form-control" ng-model="plan.description" placeholder="Plan Description"></textarea>
            </div>
        </div>
        <div class="form-group inline w-full">
            <label class="col-sm-3 control-label">Weekdays</label>
            <div class="col-sm-9">
                <input class="form-control" ng-model="plan.days" type="number" step="1" min="0" max="5" placeholder="How many days a week?" required>
            </div>
        </div>
        <div class="form-group inline w-full">
            <label class="col-sm-3 control-label">Plan Limit</label>
            <div class="col-sm-9">
                <input class="form-control" ng-model="plan.limit" type="number" step="1" min="0" placeholder="Leave blank if infinite">
            </div>
        </div>
        <div class="form-group inline w-full">
            <label class="col-sm-3 control-label">Setup Fee</label>
            <div class="col-sm-9">
                <input class="form-control" rows="3" ng-model="plan.setup_fee" currency-mask placeholder="Setup fee amount">
            </div>
        </div>
        <div class="form-group inline w-full">
            <label class="col-sm-3 control-label">Describe Fee</label>
            <div class="col-sm-9">
                <input class="form-control" ng-model="plan.setup_description" placeholder="Setup fee description">
            </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group inline w-full">
            <label class="col-sm-3 control-label">Plan Options</label>
            <div class="col-sm-9">
                <div class="checkbox">
                    <label class="i-checks">
                        <input type="checkbox" ng-model="plan.can_print" ng-click="reset(['daily_bw_printing_allowance', 'daily_rgb_printing_allowance', 'monthly_bw_printing_allowance', 'monthly_rgb_printing_allowance', 'yearly_bw_printing_allowance', 'yearly_rgb_printing_allowance'])">
                        <i></i> Can Print
                    </label>
                </div>
                <div class="checkbox">
                    <label class="i-checks">
                        <input type="checkbox" ng-model="plan.can_book_rooms">
                        <i></i> Can Book Rooms
                    </label>
                </div>
                <div class="checkbox">
                    <label class="i-checks">
                        <input type="checkbox" ng-model="plan.can_message">
                        <i></i> Can Message
                    </label>
                </div>
                <div class="checkbox">
                    <label class="i-checks">
                        <input type="checkbox" ng-model="plan.can_use_internet">
                        <i></i> Can Use Internet
                    </label>
                </div>
                <div class="checkbox">
                    <label class="i-checks">
                        <input type="checkbox" ng-model="plan.is_recurrent">
                        <i></i> Recurrent
                    </label>
                </div>
                <div class="checkbox">
                    <label class="i-checks">
                        <input type="checkbox" ng-model="plan.charge_first_period">
                        <i></i> Charge first period
                    </label>
                </div>                
                <div class="checkbox">
                    <label class="i-checks">
                        <input type="checkbox" ng-model="plan.can_buy_addon">
                        <i></i> Can buy add-ons
                    </label>
                </div>
                <div class="checkbox">
                    <label class="i-checks">
                        <input type="checkbox" ng-model="plan.is_private">
                        <i></i> Is Private Plan
                    </label>
                </div>
            </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group inline w-full">
            <label class="col-sm-3 control-label">Durations</label>
            <div class="col-sm-9">
                <label class="checkbox-inline i-checks">
                    <input type="checkbox" ng-model="plan.has_daily_option" ng-click="reset(['daily_price', 'daily_tokens', 'daily_bw_printing_allowance', 'daily_rgb_printing_allowance'])"><i></i> Daily
                </label>
                <label class="checkbox-inline i-checks">
                    <input type="checkbox" ng-model="plan.has_monthly_option" ng-click="reset(['monthly_price', 'monthly_tokens', 'monthly_bw_printing_allowance', 'monthly_rgb_printing_allowance'])"><i></i> Monthly
                </label>
                <label class="checkbox-inline i-checks">
                    <input type="checkbox" ng-model="plan.has_yearly_option" ng-click="reset(['yearly_price', 'yearly_tokens', 'yearly_bw_printing_allowance', 'yearly_rgb_printing_allowance'])"><i></i> Yearly
                </label>
            </div>
        </div>
        <div ng-if="plan.has_daily_option">
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group inline w-full">
                <label class="col-sm-3 control-label-alt">Daily
                    <br> Options</label>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-6 m-b-sm">
                            <label class="font-bold m-b-sm text-xs">Price</label>
                            <input class="form-control" type="text" ng-model="plan.daily_price" currency-mask ng-required="plan.has_daily_option">
                        </div>
                        <div class="col-xs-6 m-b-sm">
                            <label class="font-bold m-b-sm text-xs">Token Allowance</label>
                            <input class="form-control" type="number" step="1" min="0" ng-model="plan.daily_tokens" ng-required="plan.has_daily_option">
                        </div>
                        <div class="col-xs-6 m-b-sm" ng-show="plan.can_print">
                            <label class="font-bold m-b-sm text-xs">B/W Print Allowance</label>
                            <input class="form-control" type="number" step="1" min="0" ng-model="plan.daily_bw_printing_allowance" ng-required="plan.has_daily_option && plan.can_print">
                        </div>
                        <div class="col-xs-6 m-b-sm" ng-show="plan.can_print">
                            <label class="font-bold m-b-sm text-xs">Color Print Allowance</label>
                            <input class="form-control" type="number" step="1" min="0" ng-model="plan.daily_rgb_printing_allowance" ng-required="plan.has_daily_option && plan.can_print">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="plan.has_monthly_option">
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group inline w-full">
                <label class="col-sm-3 control-label-alt">Monthly
                    <br> Options</label>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-6 m-b-sm">
                            <label class="font-bold m-b-sm text-xs">Price</label>
                            <input class="form-control" type="text" ng-model="plan.monthly_price" currency-mask ng-required="plan.has_monthly_option">
                        </div>
                        <div class="col-xs-6 m-b-sm">
                            <label class="font-bold m-b-sm text-xs">Token Allowance</label>
                            <input class="form-control" type="number" step="1" min="0" ng-model="plan.monthly_tokens" ng-required="plan.has_monthly_option">
                        </div>
                        <div class="col-xs-6 m-b-sm" ng-show="plan.can_print">
                            <label class="font-bold m-b-sm text-xs">B/W Print Allowance</label>
                            <input class="form-control" type="number" step="1" min="0" ng-model="plan.monthly_bw_printing_allowance" ng-required="plan.has_monthly_option && plan.can_print">
                        </div>
                        <div class="col-xs-6 m-b-sm" ng-show="plan.can_print">
                            <label class="font-bold m-b-sm text-xs">Color Print Allowance</label>
                            <input class="form-control" type="number" step="1" min="0" ng-model="plan.monthly_rgb_printing_allowance" ng-required="plan.has_monthly_option && plan.can_print">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="plan.has_yearly_option">
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group inline w-full">
                <label class="col-sm-3 control-label-alt">Yearly
                    <br> Options</label>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-6 m-b-sm">
                            <label class="font-bold m-b-sm text-xs">Price</label>
                            <input class="form-control" type="text" ng-model="plan.yearly_price" currency-mask ng-required="plan.has_yearly_option">
                        </div>
                        <div class="col-xs-6 m-b-sm">
                            <label class="font-bold m-b-sm text-xs">Token Allowance</label>
                            <input class="form-control" type="number" step="1" min="0" ng-model="plan.yearly_tokens" ng-required="plan.has_yearly_option">
                        </div>
                        <div class="col-xs-6 m-b-sm" ng-show="plan.can_print">
                            <label class="font-bold m-b-sm text-xs">B/W Print Allowance</label>
                            <input class="form-control" type="number" step="1" min="0" ng-model="plan.yearly_bw_printing_allowance" ng-required="plan.has_yearly_option && plan.can_print">
                        </div>
                        <div class="col-xs-6 m-b-sm" ng-show="plan.can_print">
                            <label class="font-bold m-b-sm text-xs">Color Print Allowance</label>
                            <input class="form-control" type="number" step="1" min="0" ng-model="plan.yearly_rgb_printing_allowance" ng-required="plan.has_yearly_option && plan.can_print">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="submit-group">
            <button class="btn btn-lg btn-brand btn-block" ng-disabled="planCreateForm.$invalid" ng-click="save()" ng-loading="planUpdated">Update Plan</button>
        </div>
    </form>
</div>
<div class="panel panel-default wrapper-lg" ng-if="plan.is_add_on" ng-init="addon = plan">
    <div class="h4 text-uppercase font-bold font-din m-b-lg">Edit {{::addon.name}}</div>
    <form name="planCreateForm">
        <div class="form-group inline w-full">
            <label class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9">
                <input class="form-control input-md" type="text" ng-model="addon.name" placeholder="Add-on Name" required>
            </div>
        </div>
        <div class="form-group inline w-full">
            <label class="col-sm-3 control-label">Decription</label>
            <div class="col-sm-9">
                <textarea rows="3" class="form-control input-md" ng-model="addon.description" placeholder="Add-on Description"></textarea>
            </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group inline w-full">
            <label class="col-sm-3 control-label">Price</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" ng-model="addon.price" placeholder="Add-on price" currency-mask required>
            </div>
        </div>
        <div class="form-group inline w-full">
            <label class="col-sm-3 control-label">Tokens</label>
            <div class="col-sm-9">
                <input class="form-control" type="number" step="1" min="0" ng-model="addon.tokens" placeholder="Add-on token allowance">
            </div>
        </div>
        <div class="form-group inline w-full">
            <label class="col-sm-3 control-label">B/W Printing</label>
            <div class="col-sm-9">
                <input class="form-control" type="number" step="1" min="0" ng-model="addon.bw_printing" placeholder="Black and white printing" required>
            </div>
        </div>
        <div class="form-group inline w-full">
            <label class="col-sm-3 control-label">Color Printing</label>
            <div class="col-sm-9">
                <input class="form-control" type="number" step="1" min="0" ng-model="addon.rgb_printing" placeholder="Color printing" required>
            </div>
        </div>
        <div class="submit-group">
            <button class="btn btn-lg btn-brand btn-block" ng-disabled="planCreateForm.$invalid" ng-click="save()" ng-loading="planUpdated">Update Add-on</button>
        </div>
    </form>
</div>
