<div class="panel panel-default wrapper-lg" ng-if="!plan.is_add_on">
    <div class="h4 text-uppercase font-bold font-din m-b-lg">{{::plan.name}}</div>
    <form name="planCreateForm">
        <div class="form-group inline w-full m-b-xs">
            <label class="col-sm-3 control-label">Plan Name</label>
            <div class="col-sm-9">
                <div class="text-sm">{{plan.name}}</div>
            </div>
        </div>
        <div class="form-group inline w-full m-b-xs">
            <label class="col-sm-3 control-label">Description</label>
            <div class="col-sm-9">
                <div class="text-sm">{{plan.description}}</div>
            </div>
        </div>
        <div class="form-group inline w-full m-b-xs">
            <label class="col-sm-3 control-label">Weekdays</label>
            <div class="col-sm-9">
                <div class="text-sm">{{plan.days}} day(s) a week</div>
            </div>
        </div>
        <div class="form-group inline w-full m-b-xs">
            <label class="col-sm-3 control-label">Availability</label>
            <div class="col-sm-9">
                <div class="text-sm">{{plan.limit || "Infinite"}}</div>
            </div>
        </div>
        <div class="form-group inline w-full m-b-xs" ng-show="plan.setup_fee">
            <label class="col-sm-3 control-label">Setup Fee</label>
            <div class="col-sm-9">
                <div class="text-sm">{{plan.setup_fee | currency : "NGN "}}</div>
            </div>
        </div>
        <div class="form-group inline w-full m-b-xs" ng-show="plan.setup_fee">
            <label class="col-sm-3 control-label">Fee Description</label>
            <div class="col-sm-9">
                <div class="text-sm">{{plan.setup_description}}</div>
            </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group inline w-full">
            <label class="col-sm-3 control-label">Plan Options</label>
            <div class="col-sm-9">
                <div class="text-sm m-b-sm">
                    <i class="icon-check text-success" ng-show="plan.can_print"></i>
                    <i class="icon-ban text-danger" ng-hide="plan.can_print"></i>
                    Can Print
                </div>
                <div class="text-sm m-b-sm">
                    <i class="icon-check text-success" ng-show="plan.can_book_rooms"></i>
                    <i class="icon-ban text-danger" ng-hide="plan.can_book_rooms"></i>
                    Can Book Rooms
                </div>
                <div class="text-sm m-b-sm">
                    <i class="icon-check text-success" ng-show="plan.can_message"></i>
                    <i class="icon-ban text-danger" ng-hide="plan.can_message"></i>
                    Can Message
                </div>
                <div class="text-sm m-b-sm">
                    <i class="icon-check text-success" ng-show="plan.can_use_internet"></i>
                    <i class="icon-ban text-danger" ng-hide="plan.can_use_internet"></i>
                    Can Use Internet
                </div>
                <div class="text-sm m-b-sm">
                    <i class="icon-check text-success" ng-show="plan.is_recurrent"></i>
                    <i class="icon-ban text-danger" ng-hide="plan.is_recurrent"></i>
                    Recurrent Plan
                </div>
                <div class="text-sm m-b-sm">
                    <i class="icon-check text-success" ng-show="plan.charge_first_period"></i>
                    <i class="icon-ban text-danger" ng-hide="plan.charge_first_period"></i>
                    Charge first period
                </div>
                <div class="text-sm m-b-sm">
                    <i class="icon-check text-success" ng-show="plan.can_buy_addon"></i>
                    <i class="icon-ban text-danger" ng-hide="plan.can_buy_addon"></i>
                    Can buy add-on
                </div>
                <div class="text-sm m-b-sm">
                    <i class="icon-check text-success" ng-show="plan.is_private"></i>
                    <i class="icon-ban text-danger" ng-hide="plan.is_private"></i>
                    Is private plan
                </div>
            </div>
        </div>
        <div ng-if="plan.has_daily_option">
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group inline w-full">
                <label class="col-sm-3 control-label-alt">Daily
                    <br> Options</label>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-6 m-b-sm">
                            <div class="text-sm">Price: {{plan.daily_price | currency: "NGN "}}</div>
                        </div>
                        <div class="col-xs-6 m-b-sm">
                            <div class="text-sm">Tokens: {{plan.daily_tokens}}</div>
                        </div>
                        <div class="col-xs-6 m-b-sm" ng-show="plan.can_print">
                            <div class="text-sm">B/W Printing: {{plan.daily_bw_printing_allowance || 0}}</div>
                        </div>
                        <div class="col-xs-6 m-b-sm" ng-show="plan.can_print">
                            <div class="text-sm">RGB Printing: {{plan.daily_rgb_printing_allowance || 0}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="plan.has_monthly_option">
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group inline w-full">
                <label class="col-sm-3 control-label-alt">Monthly
                    <br> Options</label>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-6 m-b-sm">
                            <div class="text-sm">Price: {{plan.monthly_price | currency: "NGN "}}</div>
                        </div>
                        <div class="col-xs-6 m-b-sm">
                            <div class="text-sm">Tokens: {{plan.monthly_tokens}}</div>
                        </div>
                        <div class="col-xs-6 m-b-sm" ng-show="plan.can_print">
                            <div class="text-sm">B/W Printing: {{plan.monthly_bw_printing_allowance || 0}}</div>
                        </div>
                        <div class="col-xs-6 m-b-sm" ng-show="plan.can_print">
                            <div class="text-sm">RGB Printing: {{plan.monthly_rgb_printing_allowance || 0}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="plan.has_yearly_option">
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group inline w-full">
                <label class="col-sm-3 control-label-alt">Yearly
                    <br> Options</label>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-6 m-b-sm">
                            <div class="text-sm">Price: {{plan.yearly_price | currency: "NGN "}}</div>
                        </div>
                        <div class="col-xs-6 m-b-sm">
                            <div class="text-sm">Tokens: {{plan.yearly_tokens}}</div>
                        </div>
                        <div class="col-xs-6 m-b-sm" ng-show="plan.can_print">
                            <div class="text-sm">B/W Printing: {{plan.yearly_bw_printing_allowance || 0}}</div>
                        </div>
                        <div class="col-xs-6 m-b-sm" ng-show="plan.can_print">
                            <div class="text-sm">RGB Printing: {{plan.yearly_rgb_printing_allowance || 0}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="submit-group text-right">
            <button class="btn btn-default" ng-click="closeThisDialog(); edit(plan)">Edit Plan</button>
        </div>
    </form>
</div>
<div class="panel panel-default wrapper-lg" ng-if="plan.is_add_on" ng-init="addon = plan">
    <div class="h4 text-uppercase font-bold font-din m-b-lg">{{::addon.name}}</div>
    <form name="addonCreateForm">
        <div class="form-group inline w-full">
            <label class="col-sm-3 control-label-alt">Add-on Name</label>
            <div class="col-sm-9">
                <div class="text-sm">{{addon.name}}</div>
            </div>
        </div>
        <div class="form-group inline w-full">
            <label class="col-sm-3 control-label-alt">Add-n Price</label>
            <div class="col-sm-9">
                <div class="text-sm">{{addon.price | currency: "NGN "}}</div>
            </div>
        </div>
        <div class="form-group inline w-full">
            <label class="col-sm-3 control-label-alt">Description</label>
            <div class="col-sm-9">
                <div class="text-sm">{{addon.description}}</div>
            </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group inline w-full">
            <label class="col-sm-3 control-label-alt">Tokens</label>
            <div class="col-sm-9">
                <div class="text-sm">{{addon.tokens}}</div>
            </div>
        </div>
        <div class="form-group inline w-full">
            <label class="col-sm-3 control-label-alt">B/W Printing</label>
            <div class="col-sm-9">
                <div class="text-sm">{{addon.bw_printing}}</div>
            </div>
        </div>
        <div class="form-group inline w-full">
            <label class="col-sm-3 control-label-alt">Color Printing</label>
            <div class="col-sm-9">
                <div class="text-sm">{{addon.rgb_printing}}</div>
            </div>
        </div>
        <div class="submit-group text-right">
            <button class="btn btn-default" ng-click="closeThisDialog(); edit(addon)">Edit Add-on</button>
        </div>
    </form>
</div>
