<div class="panel panel-default wrapper-lg">
    <div class="h4 text-uppercase font-bold font-din m-b-lg">{{::office.name}}</div>
    <form name="officeCreateForm">
        <div class="form-group inline w-full m-b-xs">
            <label class="col-sm-3 control-label">office Name</label>
            <div class="col-sm-9">
                <div class="text-sm">{{office.name}}</div>
            </div>
        </div>
        <div class="form-group inline w-full m-b-xs">
            <label class="col-sm-3 control-label">Description</label>
            <div class="col-sm-9">
                <div class="text-sm">{{office.description}}</div>
            </div>
        </div>
        <div class="form-group inline w-full m-b-xs">
            <label class="col-sm-3 control-label">Allowed seats</label>
            <div class="col-sm-9">
                <div class="text-sm">{{office.seats_no}}</div>
            </div>
        </div>
        <div class="form-group inline w-full m-b-xs">
            <label class="col-sm-3 control-label">Additional Spaces</label>
            <div class="col-sm-9">
                <div class="text-sm">{{office.additional_spaces}}</div>
            </div>
        </div>
        <div class="form-group inline w-full m-b-xs">
            <label class="col-sm-3 control-label">Availability</label>
            <div class="col-sm-9">
                <div class="text-sm">{{office.limit || "Infinite"}}</div>
            </div>
        </div>
        <div class="form-group inline w-full m-b-xs" ng-show="office.setup_fee">
            <label class="col-sm-3 control-label">Setup Fee</label>
            <div class="col-sm-9">
                <div class="text-sm">{{office.setup_fee | currency : "NGN "}}</div>
            </div>
        </div>
        <div class="form-group inline w-full m-b-xs" ng-show="office.setup_fee">
            <label class="col-sm-3 control-label">Fee Description</label>
            <div class="col-sm-9">
                <div class="text-sm">{{office.setup_description}}</div>
            </div>
        </div>
        <div ng-show="office.has_monthly_option">
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group inline w-full">
                <label class="col-sm-3 control-label-alt">Monthly
                    <br> Options</label>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-6 m-b-sm">
                            <div class="text-sm">Price: {{office.monthly_price | currency: "NGN "}}</div>
                        </div>
                        <div class="col-xs-6 m-b-sm">
                            <div class="text-sm">Tokens: {{office.monthly_tokens}}</div>
                        </div>
                        <div class="col-xs-6 m-b-sm">
                            <div class="text-sm">B/W Printing: {{office.monthly_bw_printing_allowance || 0}}</div>
                        </div>
                        <div class="col-xs-6 m-b-sm">
                            <div class="text-sm">RGB Printing: {{office.monthly_rgb_printing_allowance || 0}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="office.has_yearly_option">
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group inline w-full">
                <label class="col-sm-3 control-label-alt">Yearly
                    <br> Options</label>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-6 m-b-sm">
                            <div class="text-sm">Price: {{office.yearly_price | currency: "NGN "}}</div>
                        </div>
                        <div class="col-xs-6 m-b-sm">
                            <div class="text-sm">Tokens: {{office.yearly_tokens}}</div>
                        </div>
                        <div class="col-xs-6 m-b-sm">
                            <div class="text-sm">B/W Printing: {{office.yearly_bw_printing_allowance || 0}}</div>
                        </div>
                        <div class="col-xs-6 m-b-sm">
                            <div class="text-sm">RGB Printing: {{office.yearly_rgb_printing_allowance || 0}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="submit-group text-right">
            <button class="btn btn-default" ng-click="closeThisDialog(); edit(office)">Edit Office</button>
        </div>
    </form>
</div>