<div class="row">
    <div class="col-sm-9">
        <div class="panel panel-default panel-400">
            <div class="panel-header">Admins
                <button class="btn btn-default pull-right" ng-click="newAdmin()">New Admin</button>
            </div>
            <div class="m-b-sm">
                <ul class="list-group no-border no-radius text-sm">
                    <li class="list-group-item wrapper-h-lg" ng-repeat="admin in admins">
                        <div class="inline">
                            {{admin.first_name}} {{admin.last_name}} ({{admin.email}})
                            <br>
                            <span class="text-xs font-bold">{{admin.superadmin ? "Super" : "Regular"}} Admin</span>
                            <span class="text-muted" ng-show="admin.home_location">at {{admin.home_location.description}}</span>
                            <span>&bull;</span>
                            <a class="text-xs text-primary" ng-click="viewLogs(admin)">View Logs</a>
                        </div>
                        <div class="pull-right text-right" ng-if="admin.id != User.id">
                            <a class="btn-link text-primary" ng-click="openModal('EditAdmin', admin)">Set to {{admin.superadmin ? "Regular" : "Super"}} Admin</a>
                            <br>
                            <a class="btn-link text-danger" ng-click="openModal('DeleteAdmin', admin)">Delete Account</a>
                        </div>
                        <div class="pull-right text-muted" ng-if="admin.id == User.id">This is you</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="NewAdmin">
    <div class="panel panel-default wrapper-lg">
        <div class="h4 text-uppercase font-bold font-din m-b-lg">New Admin</div>
        <form name="adminCreateForm">
            <div class="material-group">
                <input type="text" ng-model="admin.first_name" required>
                <label>First Name</label>
            </div>
            <div class="material-group">
                <input type="text" ng-model="admin.last_name" required>
                <label>Last Name</label>
            </div>
            <div class="material-group">
                <input type="text" ng-model="admin.email" required>
                <label>Email</label>
            </div>
            <div class="material-group">
                <div class="select">
                    <select name="location" ng-model="admin.home_location_id" ng-options="location.id as location.description for location in locations">
                        <option value="">No Home Location</option>
                    </select>
                </div>
            </div>
            <div class="material-group">
                <div class="select">
                    <select name="location" ng-model="admin.superadmin" ng-init="admin.superadmin = false">
                        <option value="false">Regular Admin</option>
                        <option value="true">Super Admin</option>
                    </select>
                </div>
            </div>
            <div class="material-group">
                <input type="text" ng-model="admin.password" required>
                <label>Set default password</label>
            </div>
            <div class="submit-group">
                <button class="btn btn-lg btn-primary btn-block" ng-disabled="adminCreateForm.$invalid" ng-click="save()" ng-loading="adminCreated">Create Admin</button>
            </div>
        </form>
    </div>
</script>
<script type="text/ng-template" id="EditAdmin">
    <div class="panel panel-default wrapper-lg">
        <form name="adminUpdateForm">
            <div class="m-b-md">
                <h4>Please confirm that you want to make this admin a {{admin.superadmin ? "regular" : "super"}} admin:</h4>
                <h4><b>{{admin.last_name}} {{admin.first_name}} - {{admin.email}}</b></h4>
            </div>
            <div class="submit-group">
                <button class="btn btn-default" ng-click="closeThisDialog()">Cancel</button>
                <button class="btn btn-primary pull-right" ng-click="update()" ng-loading="adminUpdated">Update</button>
            </div>
        </form>
    </div>
</script>
<script type="text/ng-template" id="DeleteAdmin">
    <div class="panel panel-default wrapper-lg">
        <form name="adminDeleteForm">
            <div class="m-b-md">
                <h4>Please confirm that you want to delete this admin:</h4>
                <h4><b>{{admin.last_name}} {{admin.first_name}} - {{admin.email}}</b></h4>
            </div>
            <div class="submit-group">
                <button class="btn btn-default" ng-click="closeThisDialog()">Cancel</button>
                <button class="btn btn-danger pull-right" ng-click="delete()" ng-loading="adminDeleted">Delete</button>
            </div>
        </form>
    </div>
</script>
