<div class="row">
    <div class="col-sm-7">
        <div class="panel panel-default">
            <div class="panel-header">Profile </div>
            <div class="wrapper-lg">
                <div class="pull-left thumb-md avatar m-r">
                    <img ng-hide="profile.image" gravatar-src="profile.email" gravatar-size="100">
                    <img ng-show="profile.image" ng-src="{{profile.image}}">
                </div>
                <div class="clear text-sm">
                    <div class="h4 m-t-xs m-b-xs">{{profile.first_name}} {{profile.last_name}}</div>
                    <p class="m-b-xs">{{profile.home_location.description || "No Home Location"}}</p>
                    <p class="m-t-none">{{profile.email}}</p>
                    <div class="pos-rlt inline" ng-hide="avatar">
                        <input id="avatar-file" type="file" class="form-control" fileread="avatar" accept="image/*" style="visibility: hidden; width: 0; height: 0; position: absolute;">
                        <a trigger-click="avatar-file" class="text-xs text-primary">Change Picture</a>
                    </div>
                    <div class="pos-rlt inline" ng-show="avatar">
                        <span class="text-muted">Uploading</span>
                    </div>
                </div>
                <ul class="list-group no-border no-radius m-t-md text-sm">
                    <li class="list-group-item"><a class="text-primary" ng-click="showModal('EditAccount')"><i class="icon-settings m-r-xs"></i> Edit Account</a></li>
                    <li class="list-group-item"><a class="text-primary" ng-click="showModal('ChangePassword')"><i class="icon-settings m-r-xs"></i> Change Password</a></li>
                    <li class="list-group-item"><a class="text-muted" ng-click="showModal('DeleteAccount')"><i class="icon-trash m-r-xs"></i> Delete Account</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="panel panel-default">
            <div class="panel-header" style="padding: 15px 20px">Prices
                <button class="btn btn-default pull-right" ng-click="showModal('EditPrices', 'AdminPricesController', true)" ng-if="User.superadmin">Edit</button>
            </div>
            <div class="wrapper-sm">
                <ul class="list-group no-border no-radius text-sm">
                    <li class="list-group-item">
                        <span class="inline m-t-xs">Token Price</span>
                        <span class="pull-right">
                            {{system.tokens.price | currency : "NGN " : 0}}
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="inline m-t-xs">B/W Printing</span>
                        <span class="pull-right">
                            {{system.bw_printing.price | currency : "NGN " : 0}}
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="inline m-t-xs">Color Printing</span>
                        <span class="pull-right">
                            {{system.rgb_printing.price | currency : "NGN " : 0}}
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default ng-hide">
            <div class="panel-header">Social Accounts</div>
            <div class="wrapper-sm">
                <ul class="list-group no-border no-radius text-sm">
                    <li class="list-group-item">
                        <span class="inline m-t-xs">Facebook</span>
                        <span class="pull-right">
                            <a href="https://www.facebook.com/Workstation-Nigeria-1729334683992057/" class="text-primary" target="_blank">Workstation Nigeria</a>
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="inline m-t-xs">Twitter</span>
                        <span class="pull-right">
                            <a href="https://twitter.com/workstationng" class="text-primary" target="_blank">@workstationng</a>
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="inline m-t-xs">Instagram</span>
                        <span class="pull-right">
                            <a href="https://instagram.com/workstationnigeria" class="text-primary" target="_blank">Workstation Nigeria</a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="EditAccount">
    <div class="panel panel-default wrapper-lg">
        <div class="h4 text-uppercase font-bold font-din m-b-lg">Edit Account</div>
        <form name="accountEditForm">
            <div class="material-group">
                <input type="text" ng-model="profile.first_name" required>
                <label>First Name</label>
            </div>
            <div class="material-group">
                <input type="text" ng-model="profile.last_name" required>
                <label>Last Name</label>
            </div>
            <div class="material-group">
                <input type="text" ng-model="profile.email" required>
                <label>Email</label>
            </div>
            <div class="material-group" ng-hide="profile.superadmin">
                <label for="location">Home Location</label>
                <div class="select">
                    <select name="location" ng-model="profile.home_location_id" ng-options="location.id as location.description for location in locations">
                        <option value="">No Home Location</option>
                    </select>
                </div>
            </div>
            <div class="submit-group">
                <button class="btn btn-lg btn-brand btn-block" ng-disabled="accountEditForm.$invalid" ng-click="updateAccount()" ng-loading="accountUpdated">Save Profile</button>
            </div>
        </form>
    </div>
</script>
<script type="text/ng-template" id="ChangePassword">
    <div class="panel panel-default wrapper-lg">
        <div class="h4 text-uppercase font-bold font-din m-b-lg">Change Password</div>
        <form name="changePasswordForm">
            <div class="material-group">
                <input type="password" ng-model="password" required>
                <label>New Password</label>
            </div>
            <div class="material-group">
                <input name="password_confirmation" type="password" ng-model="password_confirmation" ng-model-options="{ debounce: 500 }" required>
                <label>Confirm New Password</label>
            </div>
            <div class="help-block m-t-none m-b-md" ng-show="changePasswordForm.password_confirmation.$dirty && password != password_confirmation">Passwords do no match</div>
            <div class="submit-group">
                <button class="btn btn-lg btn-brand btn-block" ng-disabled="changePasswordForm.$invalid" ng-click="changePassword()" ng-loading="passwordChanged">Change Password</button>
            </div>
        </form>
    </div>
</script>
<script type="text/ng-template" id="DeleteAccount">
    <div class="panel panel-default wrapper-lg">
        <div class="h4 text-uppercase font-bold font-din m-b-sm">Delete Account</div>
        <form name="deleteForm">
            <div class="m-b-md">
                <h4>If you go ahead with this, you won't be able to manage the Workstation app anymore and all your data will be lost. </h4>
                <h4>Please enter your email to complete</h4>
                <div class="material-group">
                    <input type="text" ng-model="email" required>
                    <label for="">Email Address</label>
                </div>
            </div>
            <div class="submit-group">
                <button class="btn btn-default" ng-click="closeThisDialog()">Cancel</button>
                <button class="btn btn-danger pull-right" ng-disabled="email != User.email" ng-click="deleteAccount()" ng-loading="accountDeleted">Yes, Delete</button>
            </div>
        </form>
    </div>
</script>
<script type="text/ng-template" id="EditPrices">
    <div class="panel panel-default wrapper-lg">
        <div class="h4 text-uppercase font-bold font-din m-b-lg">Edit Prices</div>
        <form name="pricesEditForm">
            <div class="material-group">
                <input type="text" ng-model="system.tokens.price" required>
                <label>Token Price</label>
            </div>
            <div class="material-group">
                <input type="text" ng-model="system.bw_printing.price" required>
                <label>B/W Printing</label>
            </div>
            <div class="material-group">
                <input type="text" ng-model="system.rgb_printing.price" required>
                <label>Color Printing</label>
            </div>
            <div class="submit-group">
                <button class="btn btn-lg btn-brand btn-block" ng-disabled="pricesEditForm.$invalid" ng-click="updatePrices()" ng-loading="pricesUpdated">Save Prices</button>
            </div>
        </form>
    </div>
</script>
