<div class="row">
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-header">Logs ({{trails.meta.total}})</div>
            <div class="wrapper-lg">
                <div class="row" ng-show="trails.length > 0">
                    <ul class="list-group no-border no-radius text-xs m-b-lg">
                        <li class="list-group-item" style="padding: 15px" ng-repeat="trail in trails">
                            <ng-include src="'components/blocks/logs-admin.html'" ng-switch="trail.action"></ng-include>
                        </li>
                    </ul>
                    <div class="text-center" paging page="trails.meta.page" page-size="trails.meta.perPage" total="trails.meta.total" paging-action="goToPage(page)" ul-class="pagination m-n"></div>
                </div>
                <div class="padder" ng-show="trails.length == 0">
                    <div class="empty-div">
                        <div class="m-b-sm"><i class="icon-frame fa-5x"></i></div>
                        <h4 class="font-thin">No logs</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
