<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default panel-400">
            <div class="panel-header">Plans
                <button class="btn btn-default pull-right" ng-click="newPlan({is_recurrent: true})" ng-if="User.superadmin">New Plan</button>
            </div>
            <div class="wrapper-lg" ng-show="plans.length == 0">
                <div class="empty-div">
                    <div class="m-b-sm"><i class="icon-frame fa-5x"></i></div>
                    <h4>No plans available</h4>
                    <p ng-if="User.superadmin">Use the top right button
                        <br> to create a new plan</p>
                </div>
            </div>
            <ul class="list-group no-border no-radius text-sm" ng-show="plans.length > 0">
                <li class="list-group-item wrapper-h-lg" ng-repeat="plan in plans">
                    <div class="pull-right text-right" style="margin-left: 50px">
                        <a class="btn-link text-primary" ng-click="edit(plan)">Edit</a>
                        <br>
                        <a class="btn-link text-danger" ng-click="delete(plan)">Delete</a>
                    </div>
                    <div class="">
                        <div class="text-base"><a class="text-u-l" ng-click="view(plan)">{{plan.name || "Unnamed Plan"}}</a> <span class="text-muted">({{plan.durations}})</span></div>
                        <div class="text-xs text-muted text-ellipsis">{{plan.description || "No description"}}</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default panel-400">
            <div class="panel-header">Add-ons
                <button class="btn btn-default pull-right" ng-click="newPlan({is_add_on: true})" ng-if="User.superadmin">New Add-on</button>
            </div>
            <div class="wrapper-lg" ng-show="addons.length == 0">
                <div class="empty-div">
                    <div class="m-b-sm"><i class="icon-frame fa-5x"></i></div>
                    <h4>No add-ons available</h4>
                    <p ng-if="User.superadmin">Use the top right button
                        <br> to create a new add-on</p>
                </div>
            </div>
            <ul class="list-group no-border no-radius text-sm" ng-show="addons.length > 0">
                <li class="list-group-item wrapper-h-lg" ng-repeat="addon in addons">
                    <div class="pull-right text-right" style="margin-left: 50px">
                        <a class="btn-link text-primary" ng-click="edit(addon)">Edit</a>
                        <br>
                        <a class="btn-link text-danger" ng-click="delete(addon)">Delete</a>
                    </div>
                    <div class="">
                        <div class="text-base"><a class="text-u-l" ng-click="view(addon)">{{addon.name || "Unnamed add-on"}}</a> <span class="text-muted">({{addon.price | currency: "NGN "}})</span></div>
                        <div class="text-xs text-muted text-ellipsis">{{addon.description || "No description"}}</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script type="text/ng-template" id="DeletePlan">
    <div class="panel panel-default wrapper-lg">
        <form name="planDeleteForm">
            <div class="m-b-md">
                <h4>Please confirm that you want to delete this {{plan.is_add_on ? "add-on":"plan"}}:</h4>
                <h4><b>{{plan.name}}</b></h4>
            </div>
            <div class="submit-group">
                <button class="btn btn-default" ng-click="closeThisDialog()">Cancel</button>
                <button class="btn btn-danger pull-right" ng-click="delete()" ng-loading="planDeleted">Delete</button>
            </div>
        </form>
    </div>
</script>
