<div class="text-center">
    <div class="wrapper-lg">
        <div class="thumb-lg avatar">
            <img ng-hide="profile.image" gravatar-src="profile.email" gravatar-size="100">
            <img ng-show="profile.image" ng-src="{{profile.image}}">
        </div>
        <h3 class="text-lg m-t-md m-b-xs">{{profile.first_name}} {{profile.last_name}}</h3>
        <h5 class="text-sm text-muted m-t-none m-b-none"><b>Home:</b> {{profile.location || "No Home Location"}}</h5>
    </div>
    <hr class="m-t-none" ng-show="profile.bio || profile.company">
    <div class="padder-lg" ng-show="profile.bio || profile.company">
        <div class="m-t-md" ng-show="profile.bio">
            <h6 class="text-xs font-din">BIO</h6>
            <h5 class="text-sm m-t-none">{{profile.bio}}</h5>
        </div>
        <div class="m-t-md" ng-show="profile.company">
            <h6 class="text-xs font-din">COMPANY</h6>
            <h5 class="text-sm m-t-none">{{profile.company}}</h5>
        </div>
    </div>
    <hr class="m-n">
    <div class="wrapper">
    	<a ng-click="message()" class="btn btn-brand m-b-lg"><i class="icon-speech m-r-md"></i> Message {{profile.first_name}}</a>
    </div>
</div>
