<div class="home-feed container container-md" ng-if="!User.subscription">
    <div class="centered-content m-t-lg m-b-lg" ng-hide="User.has_team && !User.is_team_admin">
        <div class="row">
            <div class="col-md-7 center-block">
                <div class="breadcrumb-wrapper">
                    <ol class="breadcrumb-b text-center" ng-class="{alt: User.paystack_authorization}">
                        <li class="breadcrumb-level" ng-class="{disabled: User.paystack_authorization}"><a href="#">1. Add a card</a></li>
                        <li class="breadcrumb-level" ng-class="{disabled: !User.paystack_authorization}"><a href="#">2. Choose a plan</a></li>
                    </ol>
                    <ng-include ng-if="!User.paystack_authorization" src="'modules/user/home/pages/add-card.html'" ng-controller="UserPaymentController"></ng-include>
                    <div ng-if="User.paystack_authorization" ng-controller="UserSubscriptionHelpers">
                        <ng-include ng-if="current_subscription" src="'modules/user/home/pages/current-plan.html'"></ng-include>
                        <ng-include src="'modules/user/home/pages/available-plans.html'"></ng-include>
                        <ng-include src="'modules/user/home/pages/offices.html'"></ng-include>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="centered-content m-t-lg m-b-lg" ng-show="User.has_team && !User.is_team_admin">
        <div class="row">
            <div class="col-md-6 center-block text-center">
                <img src="assets/img/members.png" alt="Members" style="opacity: 0.3; height: 150px;">
                <h4 class="font-thin text-muted">Your subscription is managed by your team</h4>
                <p class="text-xs">Please contact your team admin to subscribe. Otherwise you can <a ui-sref="user.account.team" class="text-primary">leave the team</a> to manage your own subscription.</p>
            </div>
        </div>
    </div>
</div>
