<div class="panel panel-default wrapper-lg">
    <div class="h4 text-uppercase text-center font-bold font-din m-b-lg">Change Password</div>
    <p class="text-center m-b-md">You requested a password reset. Please choose a new password to replace the old one.</p>
    <form name="changePasswordForm">
        <div class="material-group">
            <input type="password" ng-model="password" required>
            <label>New Password</label>
        </div>
        <div class="material-group">
            <input name="password_confirmation" type="password" ng-model="password_confirmation" ng-model-options="{ debounce: 500 }" required>
            <label>Confirm New Password</label>
        </div>
        <div class="help-block m-t-none m-b-md" ng-show="changePasswordForm.password_confirmation.$dirty && password != password_confirmation">Passwords do no match</div>
        <div class="submit-group">
            <button class="btn btn-lg btn-primary btn-block" ng-disabled="changePasswordForm.$invalid" ng-click="changePassword()" ng-loading="passwordChanged">Change Password</button>
        </div>
    </form>
</div>
