<div class="login-box container w-large w-auto-xs">
    <div class="panel panel-default wrapper-md m-t-xxl m-b-lg">
        <div class="wrapper text-center">
            <div>
                <a href="https://workstationng.com"><img src="assets/img/logo_dk.png" alt="Workstation" style="width: 120px;"></a>
            </div>
            <hr>
        </div>
        <form name="form" class="form-validation padder" ng-if="!signedUp">
            <p class="m-b-lg">Workstation Membership provides access to our digital member network, events, and services.</p>
            <div class="row m-b-sm">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">First Name</label>
                        <input type="text" placeholder="First Name" class="form-control text-capitalize" ng-model="credentials.first_name" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Last Name</label>
                        <input type="text" placeholder="Last Name" class="form-control text-capitalize" ng-model="credentials.last_name" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <input type="email" placeholder="Email" class="form-control" ng-model="credentials.email" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <input type="password" placeholder="Password" class="form-control" ng-model="credentials.password" required>
                    </div>
                </div>
                <div class="col-xs-12">
                    <hr>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label">Country</label>
                        <div angucomplete-alt placeholder="Choose" pause="100" selected-object="setAreaCode" local-data="dial_codes" search-fields="name" title-field="name" minlength="1" input-class="form-control"></div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <label class="control-label">Phone Number</label>
                        <div class="input-group m-b" ng-show="selected_country">
                            <span class="input-group-addon">
                                <img src="assets/img/blank.png" class="flag flag-{{selected_country.code.toLowerCase()}}" />
                                {{selected_country.dial_code}}
                            </span>
                            <input type="tel" placeholder="Phone Number" class="form-control" ng-model="credentials.phone" required>
                        </div>
                        <div ng-hide="selected_country">
                            <input type="tel" placeholder="Phone Number" class="form-control" ng-model="credentials.phone" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-6"></div>
                <div class="col-xs-12">
                    <div class="checkbox">
                        <label class="i-checks text-xs">
                            <input type="checkbox" ng-model="credentials.accept_terms" required>
                            <i></i> I agree to Workstation's <a href="#" ng-dialog="/modules/access/modals/terms.html" ng-dialog-class="ngdialog-terms" target="_blank" class="text-primary">Terms of Service</a>, <a href="#" ng-dialog="/modules/access/modals/privacy.html" ng-dialog-class="ngdialog-terms" target="_blank" class="text-primary">Privacy Policy</a> and <a href="#" ng-dialog="/modules/access/modals/guidelines.html" ng-dialog-class="ngdialog-terms" target="_blank" class="text-primary">Community Guidelines</a>
                        </label>
                    </div>
                </div>
            </div>
            <div class="m-b-md">
                <button type="submit" class="btn btn-lg btn-brand btn-block" ng-click="signup(credentials)" ng-disabled='form.$invalid' ng-loading="signedUp">Create My Account</button>
            </div>
        </form>
        <div class="wrapper text-center" ng-if="signedUp">
            <div class="row m-b-lg">
                <div class="w-md center-block">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 98.5 98.5" enable-background="new 0 0 98.5 98.5" xml:space="preserve">
                        <path class="checkmark" fill="none" stroke-width="2" stroke-miterlimit="10" d="M81.7,17.8C73.5,9.3,62,4,49.2,4    C24.3,4,4,24.3,4,49.2s20.3,45.2,45.2,45.2s45.2-20.3,45.2-45.2c0-8.6-2.4-16.6-6.5-23.4l0,0L45.6,68.2L24.7,47.3" />
                    </svg>
                    <h3>All done</h3>
                    <p>Logging you in now.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="login-footer text-xs m-t-lg m-b-sm" ng-if="!signedUp">
        Already have an account? <a ui-sref="access.login">Log In</a>
    </div>
</div>
<div class="hero-image-overlay"></div>
<div class="login-overlay"></div>
