<div class="panel panel-default wrapper-lg">
    <div class="m-b-lg">
        <div class="h4 text-uppercase font-bold font-din m-b-sm">Add Tokens</div>
        <p class="text-muted">Please note that any tokens you add for this user will be logged against your account.</p>
    </div>
    <form name="addTokensForm">
        <div class="form-group row m-b-md">
            <div class="col-xs-6">
                <label class="control-label">How many tokens?</label>
                <input type="number" class="form-control" ng-model="tokens" step="1" min="1" required>
            </div>
            <div class="col-xs-6">
                <label class="control-label">Total Cost</label>
                <p class="m-t-xs">
                    <span ng-show="tokens">{{tokens * token_cost | currency : "NGN " : 0}}</span>
                    <span ng-hide="tokens">NGN 0</span>
                </p>
            </div>
        </div>
        <div class="form-group row m-b-md">
            <div class="col-sm-12">
                <label class="control-label">Why are you adding this for the user?</label>
            </div>
            <div class="col-sm-12 m-b-sm" ng-init="reason = 'cash'">
                <label class="radio-inline i-checks text-xs">
                    <input type="radio" name="reason" ng-model="reason" value="cash" checked><i></i> Cash Payment
                </label>
                <label class="radio-inline i-checks text-xs">
                    <input type="radio" name="reason" ng-model="reason" value="other"><i></i> Other Reason
                </label>
            </div>
            <div class="col-xs-12 m-t-sm" ng-show="reason == 'other'">
                <input type="text" placeholder="Please specify other reason" class="form-control" ng-model="other_reason" ng-disabled="reason != 'other'" ng-required="reason == 'other'">
            </div>
        </div>
        <div class="submit-group">
            <button class="btn btn-clear-danger" ng-click="closeThisDialog()">Cancel</button>
            <button class="btn btn-brand pull-right" ng-click="add()" ng-disabled="addTokensForm.$invalid" ng-loading="tokensAdded">Add Tokens</button>
        </div>
    </form>
</div>
