<div class="panel panel-default wrapper-lg">
    <div class="m-b-lg">
        <div class="h4 text-uppercase font-bold font-din m-b-sm">Subscribe for {{member.first_name || member.last_name}}</div>
        <p class="text-muted">Please note that this action will be logged against your account.</p>
    </div>
    <div class="form-group row m-b-md">
        <div class="col-sm-12">
            <label class="control-label">Why are you adding this for the user?</label>
        </div>
        <div class="col-sm-12 m-b-sm" ng-init="reason = 'cash'">
            <label class="radio-inline i-checks text-xs">
                <input type="radio" name="reason" ng-model="reason" value="cash" checked><i></i> Cash Payment
            </label>
            <label class="radio-inline i-checks text-xs">
                <input type="radio" name="reason" ng-model="reason" value="other"><i></i> Other Reason
            </label>
        </div>
        <div class="col-xs-12 m-t-sm" ng-show="reason == 'other'">
            <input type="text" placeholder="Please specify other reason" class="form-control" ng-model="other_reason" ng-disabled="reason != 'other'" ng-required="reason == 'other'">
        </div>
    </div>
    <div class="m-b-md" ng-show="current_subscription">
        <div class="wrapper b b-dark r">
            <div class="row">
                <div class="col-md-2">
                    <div class="plan-image" style="background-image: url(assets/img/ws-icons.svg); background-position: -240px 0;"></div>
                </div>
                <div class="col-md-7">
                    <h4 class="m-t-xxs m-b-xs">Last Plan: {{current_plan.name}}</h4>
                    <h5 class="m-n text-capitalize">{{current_subscription.interval}}: {{current_subscription.price | currency : "NGN " : 0}}</h5>
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-sm pull-right btn-brand m-t-sm" ng-disabled="reason != 'cash' && !other_reason" ng-click="renew()" ng-loading="subscriptionDone">Renew Last Plan</button>
                </div>
            </div>
        </div>
    </div>
    <div class="m-b-md" ng-repeat="plan in plans">
        <div class="inline w-full b b-dark r">
            <div class="wrapper-md">
                <h4 class="m-t-xs m-b-xs">{{plan.name}}</h4>
                <p class="m-n text-xs text-muted">{{plan.description}}</p>
            </div>
            <div class="padder b-t" ng-hide="active_plan.id == plan.id">
                <div class="inline wrapper-sm" ng-show="plan.daily_price">
                    <h5 class="text-tiny font-bold m-b-none">Daily</h5>
                    <h5 class="m-t-xs">{{plan.daily_price | currency : "NGN " : 0}}</h5>
                </div>
                <div class="inline wrapper-sm" ng-show="plan.monthly_price">
                    <h5 class="text-tiny font-bold m-b-none">Monthly</h5>
                    <h5 class="m-t-xs">{{plan.monthly_price | currency : "NGN " : 0}}</h5>
                </div>
                <div class="inline wrapper-sm" ng-show="plan.yearly_price">
                    <h5 class="text-tiny font-bold m-b-none">Yearly</h5>
                    <h5 class="m-t-xs">{{plan.yearly_price | currency : "NGN " : 0}}</h5>
                </div>
                <div class="pull-right">
                    <button class="btn btn-default btn-sm m-t-md" ng-click="subscribeTo(plan)">Choose</button>
                </div>
            </div>
            <div ng-show="active_plan.id == plan.id">
                <div class="wrapper b-t">
                    <form name="subscriptionForm" class="inline w-full">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <p class="text-xs font-bold">Subscription interval</p>
                                <div class="select" style="width: 200px">
                                    <select name="interval" ng-model="subscription.interval" class="form-control" ng-options="interval.slug as interval.name for interval in plan.intervals" required>
                                        <option value="">Choose</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" ng-if="plan.days < 5">
                                <label for="" class="control-label">What three days will {{member.first_name || member.last_name}} be present weekly?</label>
                                <div class="">
                                    <label class="checkbox-inline i-checks text-xs">
                                        <input type="checkbox" ng-click="addDays()" ng-model="days.monday" ng-disabled="subscription.days.length >= plan.days && !days.monday"><i></i> Mon
                                    </label>
                                    <label class="checkbox-inline i-checks text-xs">
                                        <input type="checkbox" ng-click="addDays()" ng-model="days.tuesday" ng-disabled="subscription.days.length >= plan.days && !days.tuesday"><i></i> Tues
                                    </label>
                                    <label class="checkbox-inline i-checks text-xs">
                                        <input type="checkbox" ng-click="addDays()" ng-model="days.wednesday" ng-disabled="subscription.days.length >= plan.days && !days.wednesday"><i></i> Wed
                                    </label>
                                    <label class="checkbox-inline i-checks text-xs">
                                        <input type="checkbox" ng-click="addDays()" ng-model="days.thursday" ng-disabled="subscription.days.length >= plan.days && !days.thursday"><i></i> Thurs
                                    </label>
                                    <label class="checkbox-inline i-checks text-xs">
                                        <input type="checkbox" ng-click="addDays()" ng-model="days.friday" ng-disabled="subscription.days.length >= plan.days && !days.friday"><i></i> Fri
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="padder b-t">
                    <div class="inline wrapper-sm" ng-switch="subscription.interval">
                        <h5 class="text-tiny font-bold m-b-none">Plan Choice</h5>
                        <h4 class="m-t-xs" ng-switch-when="daily"><b>Daily:</b> {{plan.daily_price | currency : "NGN " : 0}}</h4>
                        <h4 class="m-t-xs" ng-switch-when="monthly"><b>Monthly:</b> {{plan.monthly_price | currency : "NGN " : 0}}</h4>
                        <h4 class="m-t-xs" ng-switch-when="yearly"><b>Yearly:</b> {{plan.yearly_price | currency : "NGN " : 0}}</h4>
                        <h4 class="m-t-xs" ng-switch-default>-</h4>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-brand m-t-md" ng-click="complete(subscription)" ng-loading="subscriptionDone" ng-disabled="subscriptionForm.$invalid || subscription.days.length < active_plan.days || reason != 'cash' && !other_reason">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
