<div class="panel panel-default wrapper-lg">
    <div class="inline w-full">
        <div class="wrapper-md">
            <h4 class="m-t-xs m-b-xs">PRIVATE OFFICE</h4>
            <p class="text-muted">Please note that this action will be logged against your account.</p>
        </div>
        <div class="form-group padder-md">
            <div class="row">
                <div class="col-sm-12">
                    <label class="control-label">Why are you adding this for the user?</label>
                </div>
                <div class="col-sm-12 m-b-sm" ng-init="reason = 'cash'">
                    <label class="radio-inline i-checks text-xs">
                        <input type="radio" name="reason" ng-model="reason" value="cash" checked><i></i> Cash Payment
                    </label>
                    <label class="radio-inline i-checks text-xs">
                        <input type="radio" name="reason" ng-model="reason" value="other"><i></i> Other Reason
                    </label>
                </div>
                <div class="col-xs-12 m-t-sm" ng-show="reason == 'other'">
                    <input type="text" placeholder="Please specify other reason" class="form-control" ng-model="other_reason" ng-disabled="reason != 'other'" ng-required="reason == 'other'">
                </div>
            </div>
        </div>
        <div class="padder b-t" ng-hide="choose_office">
            <div class="inline wrapper-sm">
                <h5 class="text-tiny font-bold m-b-none">Available for</h5>
                <h5 class="m-t-xs">{{team_sizes.min.seats_no}} - {{team_sizes.max.seats_no + team_sizes.max.additional_spaces}} people</h5>
            </div>
            <div class="pull-right">
                <button class="btn btn-default btn-sm m-t-md" ng-click="choose_office = true;">Choose</button>
            </div>
        </div>
        <div ng-show="choose_office">
            <div class="wrapper b-t">
                <form name="subscriptionForm" class="inline w-full">
                    <div class="row m-n padder-v">
                        <div class="col-xs-6 no-padder-sm">
                            <div class="form-group">
                                <p class="text-xs font-bold">How many seats do you need?</p>
                                <input type="text" class="form-control" ng-model="office_seats" ng-change="checkAvailability()" ng-model-options="{debounce: 500}">
                            </div>
                        </div>
                        <div class="col-xs-6 no-padder-sm">
                            <div class="form-group">
                                <p class="text-xs font-bold">Subscription interval</p>
                                <div class="select">
                                    <select name="interval" ng-model="office_interval" class="form-control" ng-options="interval.slug as interval.name for interval in office.intervals" ng-change="calculateCost(office_interval)" required>
                                        <option value="" disabled>{{office_seats ? "Choose Interval" : "-"}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-group" ng-show="office_seats">
                        <div class="charge-warning" ng-show="office">
                            The {{office.name}} with {{office.seats_no}} seats <span ng-show="office.additional_spaces">and {{office.additional_spaces}} additional spaces</span> is the ideal office for your team. Costs <b>{{office.seat_cost | currency : "NGN " : 0}}</b> per seat.
                        </div>
                        <div class="charge-warning" ng-hide="office">
                            There are no available offices for this team size. Please contact an admin at <a class="text-muted" href="mailto:enterprise@workstationng.com">enterprise@workstationng.com</a>.
                        </div>
                    </div>
                    <div class="form-group m-t-md text-center" ng-show="office.setup_fee">
                        <p class="text-xs m-b-xs"><i class="fa fa-exclamation-circle"></i> <b>Includes Setup Fee ({{office.setup_fee | currency : "NGN " : 0}}) per seat.</b> {{office.setup_description}}</p>
                    </div>
                </form>
            </div>
            <div class="padder b-t">
                <div class="inline wrapper-sm">
                    <h5 class="text-tiny font-bold m-b-none">Total</h5>
                    <h4 class="m-t-xs" ng-show="office"><b>{{office_seats}} Seats:</b> {{office.total_cost | currency : "NGN " : 0}}</h4>
                    <h4 class="m-t-xs" ng-hide="office"><b>-</b></h4>
                </div>
                <div class="pull-right pull-left-sm wrapper pay-button">
                    <button class="btn btn-sm btn-brand" ng-loading="subscriptionDone" ng-click="subscribe(office)" ng-disabled="!office || reason != 'cash' && !other_reason">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</div>
