<div class="terms-body">
    <div class="m-b-lg">
        <div class="terms-header">Guidelines</div>
        <p class="text-muted">WORKSTATION INTERNATIONAL CO-WORK LIMITED</p>
    </div>
    <div class="terms-content">
        <ul class="terms-list" style="list-style: none;">
            <li>
                <p>The mission of the Workstation Member Network is to create and foster connections with fellow Workstation members. It is our intention to make our members feel safe and supported and accordingly, we have created the following guidelines in addition to the Network Terms to help you get the most out of the Workstation Member Network experience.
                    <br> You can connect with other members on the platform by:</p>
                <ul class="no-bullets">
                    <li>a) Posting your business questions and needs. Whether you are looking for answers to a "how-to" question or are in need of a service provider, the community may be of help.</li>
                    <li>b) Contributing to the Member Network by starting conversations about your interests and expertise.</li>
                    <li>c) Be thoughtful of others in your online engagement.</li>
                    <li>d) Be polite and respectful in your contributions and discussions. </li>
                </ul>
                <br> To have a pleasant experience on the Network and to avoid revocation of membership, please do not:</p>
                <ul class="no-bullets">
                    <li>a) Post illegal, inappropriate or threatening content.</li>
                    <li>b) Spam members through posts or personal messages.</li>
                    <li>c) Make statements that could damage the reputation of other members.</li>
                    <li>d) Disrupt the professional work environment.</li>
                    <li>e) Conduct fraudulent activity.</li>
                </ul>
                <br>If you come across any post, comment, profile, or message that you feel goes against the Community Guidelines, please share your concern by reporting it, we have a dedicated team that reviews all reported posts, and will always keep your report anonymous to other members.</p>
            </li>
        </ul>
    </div>
</div>
