<div class="terms-body">
    <div class="m-b-lg">
        <div class="terms-header">Privacy Policy</div>
        <p class="text-muted">WORKSTATION INTERNATIONAL CO-WORK LIMITED</p>
    </div>
    <div class="terms-content">
        <ol class="terms-list">
            <li>
                <p><strong>Introduction</strong>
                    <br> 1.1 Workstation Co-Work International Limited and its current or future affiliates (collectively referred to as "Workstation", “We”, “Us” or “Our”) are committed to safeguarding your privacy by protecting the personal information that we collect, disclose and use.
                    <br> 1.2 This Privacy Policy (“Policy”) describes how we collect, use, and disclose your personal information in connection with the use of our network and services (collectively, our “Services”).
                    <br> 1.3 Please read the Policy carefully before you use Our Services. You should not use Our Services if you are not in agreement with the terms as stated below. Your continued use of our Services shall be taken as your consent to the Policy and the use and sharing of your information as provided herein</p>
            </li>
            <li>
                <p><strong> Collecting Personal Information</strong>
                    <br> 2.1 We may collect, store and use the following kinds of personal information in connection with the Services:
                    <br> 2.1.1 information you provide us directly when registering on our network (including your email address).
                    <br> 2.1.2 information about your device and your use of our Services.
                    <br> 2.1.3 information we obtain from third-party sources
                    <br> 2.2 Personal Information You Provide Us Directly
                    <br> 2.2.1 We collect various types of information and content that you provide us directly. In order to register to access our Services, you will be requested to provide us with information such as:
                    <ul class="no-bullets">
                        <li>a) your name </li>
                        <li>b) telephone number </li>
                        <li>c) email address </li>
                        <li>d) postal address; and </li>
                        <li>e) where applicable, company or organization name.</li>
                    </ul>
                    <br> 2.2.2 We collect other content and information that you provide us directly, including:
                    <ul class="no-bullets">
                        <li>a) the content and information you may add to our network </li>
                        <li>b) photographs or documentation you submit or provide us</li>
                        <li>c) the communications that you transmit through our networks</li>
                    </ul>
                    <br> 2.2.3 We collect billing and payment information you provide when you access some of our Services or purchase products and services.
                    <br> 2.2.4 We also collect information that you provide us when you participate in our surveys.
                    <br> 2.2.5 To the extent that you disclose to us any personal information of another individual, we assume that you have obtained such individual’s consent for the disclosure of such personal information as well as the processing of the same in accordance with the terms of this Policy.
                    <br> 2.3 Information About Your Device(s) and Your Use of the Services
                    <br> 2.3.1 We collect information about how you use and access our Services on your device, depending on the access permissions you have chosen for such device.
                    <br> 2.3.2 We use standard internet technologies, such as cookies and web beacons, to collect information about your computer or device and your online activity, as explained in more detail in the section on cookies.
                    <br> 2.3.3 The information we collect in this respect include:
                    <ul class="no-bullets">
                        <li>a) your browser type and operating system;</li>
                        <li>b) IP address and device identifiers;</li>
                        <li>c) your browsing behavior on our Services, such as the amount of time spent viewing our online Services and the links you click within our online Services;</li>
                        <li>d) websites you visit before or after our websites;</li>
                        <li>e) whether you have opened or forwarded our e-mails or connected to offers or links that we send you; and</li>
                        <li>f) your general or specific geographic location, such as through GPS, Bluetooth or WiFi signals to the extent permitted by the settings of your devices.</li>
                    </ul>
                    <br> 2.3.4 If you use our internet connection, networks, telecommunications systems or information processing systems, your activity and any files or messages on those systems may also be monitored by Workstation at any time, in accordance with applicable law, for purposes of an investigation or to ensure compliance with company policies.
                    <br> 2.4 Information from Third-Party Sources
                    <br> 2.4.1 We obtain information about you from your company or organization, including when they may create or supplement your profile
                    <br> 2.4.2 We also receive information about you from publicly and commercially available sources and other third parties as permitted by law. We may combine this information with other information we receive from or about you, where necessary to provide the Services you requested.</p>
            </li>
            <li>
                <p><strong>USE OF PERSONAL INFORMATION</strong>
                    <br> 3.1 Personal information submitted to us through this website will be used as necessary and appropriate for the following purposes:
                    <ul class="no-bullets">
                        <li>a) To provide our products and services - We use your personal information to provide you with the products, services, and features that you or your company or organization have requested; to respond to inquiries we receive from you or your company or organization; to verify your identity; in connection with a transaction that you or your company or organization has initiated; to deliver notifications and other operational communications; and for troubleshooting.</li>
                        <li>b) To improve our products and services and to analyze how users navigate and use our products and services and individual features.</li>
                        <li>c) To manage the performance of our products and services.</li>
                        <li>d) For audit and reporting purposes, to perform accounting and administrative tasks, and to enforce or manage legal claims.</li>
                        <li>e) To deliver advertising and promotional communications, subject to any legally required consent, which we will seek at the appropriate time. </li>
                        <li>f) For security and to protect, enforce, or defend legal rights, privacy, safety or property, whether our own or that of our employees or agents or others, and </li>
                        <li>g) To enforce compliance with Workstation policies and to comply with applicable law(s).</li>
                    </ul>
                </p>
            </li>
            <li>
                <p><strong>DISCLOSING PERSONAL INFORMATION</strong>
                    <br> 4.1 We may disclose your personal information to any of our employees, officers, insurers, or professional advisers insofar as reasonably necessary for the purposes set out in this policy.
                    <br> 4.2 We may disclose your personal information to any member of our group of companies (this means our subsidiaries, our ultimate holding company and all its subsidiaries) insofar as reasonably necessary for the purposes set out in this policy.
                    <br> 4.3 We may disclose your personal information to our community. Our Services include online and offline member communities, forums and networks that allow you to share and connect with others. We make this possible for Workstation members by creating a profile for new members that contains your name and the name of your company or other organization.
                    <br> 4.4 We rely on third-party service providers to perform a variety of services on our behalf. For example, we may rely on service providers to host data and platforms, fulfil our product and service requests and answer your questions, send e-mails on our behalf, process payment card or other transactions, and analyze data to improve our products and services. To do so, we may need to share your personal information with them.
                    <br> 4.5 We may disclose your personal information:
                    <ul class="no-bullets">
                        <li>a) to the extent that we are required to do so by law;</li>
                        <li>b) in connection with any ongoing or prospective legal proceedings;</li>
                        <li>c) in order to establish, exercise or defend our legal rights (including providing information to others for the purposes of fraud prevention and reducing credit risk);</li>
                        <li>d) to the purchaser (or prospective purchaser) of any business or asset that we are (or are contemplating) selling</li>
                        <li>a) to the extent that we are required to do so by law;</li>
                    </ul>
                    <br>4.6 In addition to the disclosures described in this Policy, if operating a corporate network account, we may share information about you with third parties when your company or organization requests such sharing.
                    <br> 4.7 We may request your consent to share personal information about you with third parties so that they may provide you with special offers, promotional materials, and other materials that may be of interest to you.
                    <br> 4.8 We also share with third parties, general information without disclosing the individuals concerned, for example, information that has been aggregated with other records.
                    <br> 4.9 We have in place various procedures to safeguard your information. Although we take such steps to protect your information, no security program is fool proof and thus we cannot guarantee the absolute security of your personal or other information.
                </p>
            </li>
            <li>
                <p><strong>ACCESSING, REVIEWING, AND UPDATING YOUR PERSONAL INFORMATION</strong>
                    <br> 5.1 You may have the right to access your personal information and to update or correct inaccuracies in your personal information.
                    <br> 5.2 You may have rights to revoke consent you previously granted us with respect to processing personal information and to object to the use of your personal information for direct marketing or for other purposes that are not necessary in light of the nature of our legal relationship. Note that if you revoke your consent to such processing, we may be unable to provide you with certain aspects of the services.
                    <br> 5.3 If you would like to exercise any of these rights, please contact Us.
                </p>
            </li>
            <li>
                <p><strong>INTERNATIONAL DATA TRANSFERS</strong>
                    <br> 6.1 Your personal information is transferred to, maintained, and processed by us or our affiliates and third-party service providers for the purposes described above. However, to the extent permitted by law, we may share your personal data with other parties who may be located in Nigeria or in other countries. The data protection laws in these countries may be different from those in your country of residence.
                    <br> 6.2 Personal information that you publish on our website or submit for publication on our website may be available, via the internet, around the world. We cannot prevent the use or misuse of such information by others.
                </p>
            </li>
            <li>
                <p><strong>CCTV</strong>
                    <br> 7.1. Our buildings have CCTV installed to protect the safety of our employees, members, and guests and their property, as well as to improve our products and services and to analyze how users navigate and use our spaces.
                    <br> 7.2. Recordings may be accessed and shared with competent authorities in accordance with applicable laws. The recordings are retained for a limited period, but may be kept longer for the investigation of an incident or when competent authorities request us to retain them longer.
                </p>
            </li>
            <li>
                <p><strong>COLLECTION OF INFORMATION FROM CHILDREN</strong>
                    <br> The Services are not directed to children under the age of 16 and we do not knowingly collect personal information from anyone under the age of 16.
                </p>
            </li>
            <li>
                <p><strong>CHANGES TO THIS PRIVACY POLICY IN THE FUTURE</strong>
                    <br> Privacy laws and guidelines are part of a constantly changing environment. We will notify you of material changes by e-mail or by posting a message on the network.
                </p>
            </li>
            <li>
                <p><strong>COOKIES</strong>
                    <br> 10.1 Our website uses cookies.
                    <br> 10.2 A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web server to a web browser and is stored by the browser. The identifier is then sent back to the server each time the browser requests a page from the server.
                    <br> 10.3 Cookies may be either "persistent" cookies or "session" cookies: a persistent cookie will be stored by a web browser and will remain valid until its set expiry date, unless deleted by the user before the expiry date; a session cookie, on the other hand, will expire at the end of the user session, when the web browser is closed.
                    <br> 10.4 Cookies do not typically contain any information that personally identifies a user, but personal information that we store about you may be linked to the information stored in and obtained from cookies
                </p>
            </li>
            <li>
                <p><strong>OTHER TECHNOLOGIES</strong>
                    <br> 11.1 There are other local storage and internet technologies, such as Local Shared Objects (also referred to as “Flash cookies”) and HTML5 local storage, that operate similarly to the cookies discussed above in that they are stored on your device and can be used to store certain information about your activities and preferences across different services and sessions. Please note that these technologies are distinct from cookies, and you may not be able to control them using standard browser tools and settings.
                    <br> 11.2 How We Use These Technologies
                    <br> 11.2.1 Our websites use these technologies for the following purposes:
                    <ul class="no-bullets">
                        <li>a) Administering our Services.</li>
                        <li>b) Improving our Services, including helping us measure and research the effectiveness of our content, features, advertisements, and other communications. </li>
                        <li>c) Storing your sign-in credentials and preferences so that you do not have to enter those credentials and preferences every time you log on to a Service.</li>
                        <li>d) Helping us and third parties provide you with relevant content and advertising by collecting information about your use of our Services and other websites.</li>
                    </ul>
                </p>
            </li>
            <li>
                <p><strong>OUR DETAILS</strong>
                    <br> 12.1 This website is owned and operated by Workstation International Co-Work Limited
                    <br> 12.2 We are registered in Nigeria with rc number [1329306], and our registered office is at 1, Layi Ajayi Bembe Street, Parkview Estate, Ikoyi, Lagos
                    <br> 12.3 Our principal place of business is at No. 7 Ibiyinka Olorunbe Close, Victoria Island Lagos.
                    <br> 12.4 You can contact us:
                    <ul class="no-bullets">
                        <li>a) by post, using the postal address given above;</li>
                        <li>b) using our website contact form;</li>
                        <li>c) by telephone, on the contact number published on our website from time to time; or</li>
                        <li>d) by email, using the email address published on our website from time to time.</li>
                    </ul>
                </p>
            </li>
        </ol>
    </div>
</div>
