<div class="row">
    <div class="col-md-7">
        <div class="panel panel-default panel-400">
            <div class="panel-header">Add-Ons</div>
            <div class="padder" ng-show="profile.subscription">
                <div class="wrapper-md b-b b-light" ng-repeat="addon in addons">
                    <div class="row">
                        <div class="col-xs-8">
                            <p class="m-t-xs m-b-xs">{{addon.name}} - {{addon.price | currency : "NGN " : 0}}</p>
                            <p class="m-n text-xs text-muted">{{addon.description}}</p>
                        </div>
                        <div class="col-xs-4 text-right">
                            <button class="btn btn-brand btn-sm m-t-xs" ng-click="confirmPurchase(addon)">Buy Add-On</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="padder" ng-hide="profile.subscription">
                <div class="empty-div">
                    <div class="m-b-sm"><i class="icon-frame fa-5x"></i></div>
                    <h4 class="font-thin">No current subscription</h4>
                    <div class="m-t-md">
                        <a class="btn btn-brand" ui-sref="profile.home">Subscribe to a plan</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="BuyAddon">
    <div class="panel panel-default wrapper-lg">
        <div class="m-b-lg">
            <div class="h4 text-uppercase font-bold font-din m-b-sm">Buy {{selected_addon.name}} for {{selected_addon.price | currency : "NGN " : 0}}</div>
            <p class="text-muted">Please note that this add-on will expire with your current subscription.</p>
        </div>
        <form name="buyAddonForm">
            <div class="charge-warning" ng-hide="User.team_registration && User.team_registration.use_team_card">
                Your <span class="text-capitalize">{{User.paystack_authorization.card_type}}</span> card ending in <b>{{User.paystack_authorization.last_four_digits}}</b> will be charged. <a ng-click="closeThisDialog()" ui-sref="user.account.payment">Change Payment Method</a>
            </div>
            <div class="form-group text-sm m-b-lg" ng-if="User.team_registration && !User.is_team_admin && User.team_registration.use_team_card" ng-init="use_team_card = 'true'">
                <div class="radio">
                    <label class="i-checks">
                        <input type="radio" name="use_team_card" value="true" ng-model="use_team_card">
                        <i></i> Use team card
                    </label>
                </div>
                <div class="radio" ng-show="User.paystack_authorization">
                    <label class="i-checks">
                        <input type="radio" name="use_team_card" value="false" ng-model="use_team_card">
                        <i></i> Use my card ({{User.paystack_authorization.card_type.capitalizeFirstLetter()}} {{User.paystack_authorization.last_four_digits}})
                    </label>
                </div>
            </div>
            <div class="submit-group">
                <button class="btn btn-lg btn-brand btn-block" ng-click="buy(selected_addon, closeThisDialog)" ng-loading="addonPurchased">Buy Add-on</button>
            </div>
        </form>
    </div>
</script>
