<div class="row">
    <div class="col-md-7" ng-init="load('invoices')">
        <div class="panel panel-default panel-400">
            <div class="panel-header">Subscription Invoices <span ng-show="invoices">({{invoices.meta.total}})</span></div>
            <div class="panel-body">
                <div class="loader-wrap" ng-show="!invoices">
                    <div class="loader">
                        <div class="loader__figure"></div>
                    </div>
                </div>
                <div ng-show="invoices.length > 0">
                    <ul class="list-group no-border no-radius m-b-lg">
                        <ul class="list-group no-border no-radius text-xs m-b-lg">
                            <li class="list-group-item" style="padding: 15px" ng-repeat="invoice in invoices">
                                <b>{{invoice.plan_name}} {{invoice.subscription.interval}}</b> ({{invoice.amount | currency: "NGN "}}) - {{invoice.created_at | date: "mediumDate"}}
                                <br>
                                <div class="m-t-xs">
                                    <span class="text-muted text-capitalize">Charged {{invoice.card_type}} ({{invoice.card_digits}})</span>
                                    <span class="title-badge text-success pull-right" ng-if="invoice.paid"><i class="fa fa-circle"></i> Paid</span>
                                    <span class="title-badge text-danger pull-right" ng-if="!invoice.paid"><i class="fa fa-circle"></i> Unpaid</span>
                                </div>
                            </li>
                        </ul>
                        <div class="text-center" paging page="invoices.meta.page" page-size="invoices.meta.perPage" total="invoices.meta.total" paging-action="load('invoices', page)" ul-class="pagination m-n"></div>
                </div>
                <div class="padder" ng-show="invoices.length == 0">
                    <div class="empty-div">
                        <div class="m-b-sm"><i class="icon-frame fa-5x"></i></div>
                        <h4 class="font-thin">No invoices</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
