<div class="row">
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-header">Profile </div>
            <div class="wrapper-lg">
                <div class="pull-left thumb-md avatar m-r">
                    <img ng-hide="profile.image" gravatar-src="profile.email" gravatar-size="100">
                    <img ng-show="profile.image" ng-src="{{getThumbnail(profile.image)}}">
                </div>
                <div class="clear text-sm">
                    <div class="h4 m-t-xs m-b-xs">{{profile.first_name}} {{profile.last_name}}</div>
                    <p>{{profile.email}}</p>
                    <div class="pos-rlt inline" ng-hide="avatar">
                        <input id="avatar-file" type="file" class="form-control" fileread="avatar" accept="image/*" style="visibility: hidden; width: 0; height: 0; position: absolute;">
                        <a trigger-click="avatar-file" class="text-xs text-primary">Change display picture</a>
                        <span class="text-muted" ng-show="profile.image">&bull; <a class="text-xs text-danger"  ng-click="removeImage()">Remove</a></span>
                    </div>
                    <div class="pos-rlt inline" ng-show="avatar">
                        <span class="text-muted">Uploading</span>
                    </div>
                </div>
                <div class="inline w-full m-t-md">
                    <p><b>Bio:</b> {{profile.bio || "No bio"}}</p>
                    <p><b>Company:</b> {{profile.company || "No company"}}</p>
                    <p><b>Phone:</b> {{profile.phone || "No Phone number"}}</p>
                    <p><b>Home Location:</b> {{profile.home_location.description || "No Home Location"}}</p>
                </div>
                <ul class="list-group no-border no-radius m-t-md text-sm">
                    <li class="list-group-item"><a class="text-primary" ng-dialog="EditProfile" ng-dialog-controller="UserAccountController"><i class="icon-settings m-r-xs"></i> Edit Profile</a></li>
                    <li class="list-group-item"><a class="text-primary" ng-dialog="ChangePassword" ng-dialog-controller="UserAccountController"><i class="icon-settings m-r-xs"></i> Change Password</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="EditProfile">
    <div class="panel panel-default wrapper-lg">
        <div class="h4 text-uppercase font-bold font-din m-b-lg">Edit Profile</div>
        <form name="accountEditForm">
            <div class="material-group">
                <input type="text" ng-model="profile.first_name" required>
                <label>First Name</label>
            </div>
            <div class="material-group">
                <input type="text" ng-model="profile.last_name" required>
                <label>Last Name</label>
            </div>
            <div class="material-group">
                <input type="text" ng-model="profile.phone" required>
                <label>Phone</label>
            </div>
            <div class="material-group">
                <input type="text" ng-model="profile.company" required>
                <label>Company</label>
            </div>
            <div class="material-group">
                <input type="text" ng-model="profile.bio" required>
                <label>Short Bio</label>
            </div>
            <div class="submit-group">
                <button class="btn btn-lg btn-brand btn-block" ng-disabled="accountEditForm.$invalid" ng-click="updateAccount()" ng-loading="accountUpdated">Save Profile</button>
            </div>
        </form>
    </div>
</script>
<script type="text/ng-template" id="ChangeEmail">
    <div class="panel panel-default wrapper-lg">
        <div class="h4 text-uppercase font-bold font-din m-b-lg">Change Email</div>
        <form name="accountEditForm">
            <div class="material-group">
                <input type="email" ng-model="profile.email" required disabled>
            </div>
            <div class="material-group">
                <input type="email" ng-model="profile.new_email" required>
                <label>New Email Address</label>
            </div>
            <div class="submit-group">
                <button class="btn btn-lg btn-brand btn-block" ng-disabled="accountEditForm.$invalid" ng-click="updateAccount()" ng-loading="accountUpdated">Save Profile</button>
            </div>
        </form>
    </div>
</script>
<script type="text/ng-template" id="ChangePassword">
    <div class="panel panel-default wrapper-lg">
        <div class="h4 text-uppercase font-bold font-din m-b-lg">Change Password</div>
        <form name="changePasswordForm">
            <div class="material-group">
                <input type="password" ng-model="password" required>
                <label>New Password</label>
            </div>
            <div class="material-group">
                <input name="password_confirmation" type="password" ng-model="password_confirmation" ng-model-options="{ debounce: 500 }" required>
                <label>Confirm New Password</label>
            </div>
            <div class="help-block m-t-none m-b-md" ng-show="changePasswordForm.password_confirmation.$dirty && password != password_confirmation">Passwords do no match</div>
            <div class="submit-group">
                <button class="btn btn-lg btn-brand btn-block" ng-disabled="changePasswordForm.$invalid" ng-click="changePassword()" ng-loading="passwordChanged">Change Password</button>
            </div>
        </form>
    </div>
</script>
