<div class="row">
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-header">Social Networks</div>
            <div class="wrapper-lg">
                <p>Connect your social accounts to find people you know on Workstation</p>
                <ul class="list-group no-border no-radius m-t-md text-sm">
                    <li class="list-group-item">
                        <span class="inline m-t-xs">Twitter</span>
                        <button class="btn btn-default btn-sm pull-right"><i class="fa fa-twitter m-r-sm"></i>Connect</button>
                    </li>
                    <li class="list-group-item">
                        <span class="inline m-t-xs">Facebook</span>
                        <button class="btn btn-default btn-sm pull-right"><i class="fa fa-facebook m-r-sm"></i>Connect</button>
                    </li>
                    <li class="list-group-item">
                        <span class="inline m-t-xs">LinkedIn</span>
                        <button class="btn btn-default btn-sm pull-right"><i class="fa fa-linkedin m-r-sm"></i>Connect</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>