<div class="container">
    <div class="sidebar sidebar-sm">
        <div class="m-t-xxl m-b-lg hidden-xs">
            <h4 class="font-thin">Settings</h4>
        </div>
        <ul class="sidebar-list">
            <li ui-sref-active="active"><a ui-sref="admin.settings.general">General</a></li>
            <li ui-sref-active="active" ng-if="User.superadmin"><a ui-sref="admin.settings.admins">Admins</a></li>
            <li ui-sref-active="active" ng-if="User.superadmin"><a ui-sref="admin.settings.logs">Logs</a></li>
            <li ui-sref-active="active" ng-if="User.superadmin"><a ui-sref="admin.settings.locations">Locations</a></li>
            <li ui-sref-active="active"><a ui-sref="admin.settings.rooms">Rooms</a></li>
            <li ui-sref-active="active" ng-if="User.superadmin"><a ui-sref="admin.settings.plans">Plans</a></li>
            <li ui-sref-active="active" ng-if="User.superadmin"><a ui-sref="admin.settings.offices">Private Office</a></li>
        </ul>
    </div>
    <div class="app-content content-lg" ui-view>
    </div>
</div>
