.fc.ui-calendar {
    .fc-center h2 {
        font-size: 16px;
        line-height: 2em;
    }
    .fc-button {
        background: none;
        font-size: 13px;
        padding: 0 12px;
        height: 32px;
        line-height: 30px;
        text-transform: uppercase;
        &.fc-state-active {
            color: @brand-main;
            border-color: @brand-main;
            box-shadow: none;
        }
    }
    tbody,
    td,
    th,
    thead {
        border-color: white;
    }
    .fc-day-header {
        background: white;
        height: 35px;
    }
    .fc-day {
        background: rgba(245, 245, 245, 0.53);
    }
}

.ui-datepicker {
    ul.dropdown-menu {
        padding: 10px;
        font-size: 13px;
    }
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        padding: 7.5px 10px;
    }
    .table > thead > tr > th {
        padding: 5px 10px;
    }
    input:disabled {
        background: white;
        cursor: pointer;
    }
}
