.app-frame {
    padding-top: 90px;
    .sidebar {
        width: 220px;
        float: left;
        padding: 0 0 50px;
        &.sidebar-sm {
            width: 120px;
        }
        @media all and (max-width: 640px) {
            padding-bottom: 10px;
            width: 100%;
            &.sidebar-sm {
                width: 100%;
            }
        }
    }
    .app-content {
        width: calc(~"100% - 220px");
        float: left;
        height: 100%;
        border-radius: 3px 3px 0 0;
        padding: 20px 0 20px 20px;
        &.content-lg {
            width: calc(~"100% - 120px");
            @media all and (max-width: 640px) {
                width: 100%;
                padding: 0;
            }
        }
    }
    .centered-content {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
    &.skeleton {
        padding-top: 70px;
        min-height: 100%;
    }
    &.full-height {
        padding-top: 70px;
        height: 100%;
    }
}

.two-section-frame {
    height: 100%;
    margin: 0 auto;
    border: solid 1px #e5e5e5;
    border-width: 0 1px;
    display: -webkit-flex;
    display: flex;
    .frame-left {
        width: 300px;
        @media all and (max-width: 640px) {
            width: 100%;
        }
    }
    .frame-right {
        flex: 1;
    }
    .frame-content {
        flex: 1;
    }
}

.flex-container-column {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 100%;
}

.scrollable {
    overflow: auto;
}
