.hero-image-overlay {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(/assets/img/login_bg.jpg);
    // -webkit-filter: blur(1px);
    // filter: blur(1px);
}

.login-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: @text-color;
    opacity: .54;
    z-index: 2;
}

.login-box {
    position: relative;
    z-index: 10;
    .login-footer {
        color: rgba(255, 255, 255, 0.5);
        text-align: center;
        a {
            color: white;
            &:hover {
                color: white;
            }
        }
    }
}

.header {
    height: 70px;
    background: black;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    .logo {
        height: 30px;
        margin-top: 5px;
        img {
            height: 20px;
        }
    }
    .search {
        margin-left: 20px;
        .search-input {
            background: lighten(black, 10%);
            border: solid 1px lighten(black, 20%);
            outline: none;
            height: 35px;
            font-size: 14px;
            border-radius: 30px;
            padding: 0 20px;
            color: white;
            width: 220px;
            transition: border 300ms ease-in;
            &:focus {
                border-color: lighten(black, 30%);
            }
        }
        @media all and (max-width: 800px) {
            display: none;
        }
    }
    .header-menu {
        list-style-type: none;
        padding: 0;
        float: right;
        > li {
            float: left;
            margin-right: 15px;
            position: relative;
            > a {
                line-height: 35px;
                color: darken(white, 20%);
            }
            a {
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 12px;
                font-weight: bold;
            }
            &.active {
                a {
                    color: @brand-main;
                    background: none;
                }
            }
            .unread {
                position: absolute;
                right: -10px;
                top: 0;
                background-color: @brand-main;
                color: @text-color;
                font-weight: bold;
                font-size: 11px;
                border-radius: 12px;
                min-width: 9px;
                text-align: center;
                display: -webkit-inline-flex;
                display: inline-flex;
                -webkit-align-items: center;
                align-items: center;
                -webkit-justify-content: center;
                justify-content: center;
                height: 16px;
                min-width: 16px;
                box-sizing: border-box;
                line-height: normal;
                font-family: sans-serif;
            }
        }
        .dropdown-menu {
            width: 120px;
            min-width: 0;
            padding: 0;
            text-align: center;
            right: -10px;
            left: auto;
            li {
                a {
                    line-height: 25px;
                }
            }
        }
    }
}

.sidebar {
    .sidebar-profile {
        margin: 20px 0;
        padding-bottom: 20px;
        padding: 15px 20px;
        border-radius: 3px;
        background: white;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, .15);
    }
    .profile-plan {
        font-size: 12px;
        letter-spacing: 1px;
    }
    .sidebar-list {
        margin: 30px 0 0;
        padding: 0;
        list-style-type: none;
        li {
            a {
                display: block;
                .font-din;
                font-size: 14px;
                height: 35px;
                line-height: 35px;
                text-transform: uppercase;
                font-weight: bold;
            }
            &.active {
                a {
                    color: @brand-main;
                }
            }
        }
        @media all and (max-width: 640px) {
            margin-top: 0;
            li {
                float: left;
                display: inline-block;
                margin-right: 20px;
                a {
                    display: inline-block;
                }
            }
        }
    }
}

.hero {
    padding: 30px 0;
    position: relative;
    overflow: hidden;
    &.blend-gradient {
        // background: linear-gradient(20deg, rgb(155, 21, 21), rgb(205, 112, 40));
        // background: -webkit-linear-gradient(20deg, rgb(155, 21, 21), rgb(205, 112, 40));
        // color: white;
        background: @brand-main;
        color: @text-color;
    }
    .border-div {
        height: 150px;
        border: solid rgba(255, 255, 255, 0.2);
        border-width: 0 1px;
    }
    .b-l,
    .b-r {
        border-color: rgba(255, 255, 255, 0.2);
    }
    .hero-label {
        background: none;
        border: solid 1px @text-color;
        color: @text-color;
        text-shadow: none;
        font-size: 11px;
        padding: .2em 01em .3em;
        border-radius: 12px;
        text-transform: uppercase;
        &:hover {
            color: @text-color;
        }
    }
    &-user {
        padding: 0;
        .row {
            display: flex;
            position: relative;
        }
        .hero-left {
            float: left;
            padding: 30px 50px 30px 20px;
            @media all and (max-width: 640px) {
                padding: 30px 20px;
                width: 100%;
            }
        }
        .hero-center {
            float: left;
            padding: 20px 30px;
            width: 400px;
        }
        .hero-right {
            position: absolute;
            padding: 25px 0 30px 30px;
            right: 0;
            height: 100%;
            z-index: 10;
            background: @brand-main;
            @media all and (max-width: 640px) {
                display: none;
            }
        }
        .hero-right-bg {
            position: absolute;
            right: 0;
            top: -10px;
            bottom: -10px;
            opacity: 0.2;
            @media all and (max-width: 640px) {
                display: none;
            }
            img {
                height: 100%;
            }
        }
    }
}

.hero-action {
    display: inline-block;
    float: left;
    text-align: center;
    color: @text-color;
    margin-right: 50px;
    width: 80px;
    &:hover {
        .hero-action__text {
            text-decoration: underline;
        }
    }
    &__icon {
        display: block;
        width: 60px;
        height: 60px;
        margin-left: 10px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        margin-bottom: 10px;
        font-size: 25px;
        line-height: 60px;
    }
    &__text {
        font-size: 14px;
        line-height: 1.2;
        display: block;
    }
}

.home-feed {
    .section-title {
        height: 50px;
        line-height: 50px;
        font-size: 13px;
        .font-din;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .section-empty {
        opacity: 0.5;
        line-height: 1.4;
        font-size: 14px;
    }
}

.home-sidebar {
    padding-right: 35px;
}

.message-body {
    a {
        color: @brand-primary;
    }
}

.post-message {
    position: relative;
    padding: 5px;
    background: white;
    border: solid 1px #e4e4e4;
    margin-bottom: 15px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, .05) 0 2px 1px;
    &:hover {
        box-shadow: rgba(0, 0, 0, .08) 0 3px 3px;
        border-color: #d7d7d7;
    }
    .message-emoji {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    textarea {
        margin: 5px 0 50px;
        border: none;
        font-size: 15px;
    }
    .actions {
        position: absolute;
        bottom: 10px;
        left: 10px;
        right: 10px;
        height: 40px;
        line-height: 40px;
        padding: 0 5px;
        // border-top: solid 1px #dddfe2;
        .btn {
            margin-top: 8px;
        }
        > div,
        > span {
            margin-right: 10px;
            cursor: pointer;
        }
    }
    // Overrides
    .emoji-popover {
        top: auto !important;
        left: 0 !important;
        width: 276px;
        bottom: 0;
    }
    .emoji-groups {
        display: inline-block;
        width: 100%;
        .emoji-group {
            display: inline-block;
            float: left;
            margin-right: 5px;
            &:before {
                display: none;
            }
        }
    }
}

.stream {
    margin-bottom: 50px;
    .stream-actor {
        padding: 20px 20px 0;
        font-size: 14px;
        a:hover {
            text-decoration: underline;
        }
    }
    .stream-post-actions {
        display: inline-block;
        width: 100%;
        border-top: solid 1px #ececec;
        font-size: 14px;
        color: #777;
        padding: 10px 20px;
        a {
            display: inline-block;
            margin-right: 20px;
            font-size: 13px;
            &:hover {
                color: @brand-main;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        .dropdown-toggle {
            margin: 0;
            font-size: 16px;
            line-height: 11px;
        }
        .dropdown-menu {
            a {
                margin: 0;
                display: block;
            }
        }
    }
    .stream-message {
        margin-bottom: 15px;
        border: solid 1px #ececec;
        background: white;
        border-radius: 3px;
        display: inline-block;
        width: 100%;
    }
    .stream-body {
        font-size: 15px;
        color: #333;
        padding: 0 20px;
        margin: 20px 0;
        word-wrap: break-word;
        a {
            color: @brand-primary;
            text-decoration: underline;
        }
    }
    .stream-article {
        margin: 20px;
        border-radius: 4px;
        border: solid 1px whitesmoke;
        display: flex;
        &:hover {
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.03);
        }
        .article-image-wrap {
            width: 8.8em;
            background: whitesmoke;
            position: relative;
            border-radius: 3px 0 0 3px;
            flex: 0 0 8.8em;
        }
        .article-content {
            padding: 10px 20px;
            max-width: ~"calc(100% - 8.8em)";
            flex: 1;
        }
        .article-image {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 3px 0 0 3px;
            background: whitesmoke;
            background-size: cover;
            @media all and (max-width: 640px) {
                margin-bottom: 15px;
            }
        }
        .article-title {
            margin-bottom: 5px;
            font-size: 14px;
            a:hover {
                color: @brand-primary;
                text-decoration: underline;
            }
        }
        .article-body {
            color: #999;
            font-size: 13px;
            line-height: 18px;
            max-height: 54px;
        }
        .byline {
            font-size: 13px;
            padding: 10px 0 0;
            font-size: 13px;
            img {
                width: 15px;
                height: 15px;
                float: left;
                margin-right: 7px;
            }
        }
    }
    .stream-comments {
        display: inline-block;
        float: left;
        width: 100%;
        padding: 0 20px 10px;
        background: #fbfbfb;
        border-top: solid 1px #e8e8e8;
        .stream-comment {
            margin-top: 10px;
            display: flex;
        }
    }
    .manage-stream-comments {
        font-size: 12px;
    }
    .new-stream-comment {
        float: left;
        width: 100%;
        margin-top: 10px;
        .form-control {
            float: left;
            width: calc(~"100% - 35px");
            height: 30px;
            font-size: 14px;
            line-height: 30px;
        }
    }
    &.restricted {
        .new-stream-comment,
        .stream-post-actions {
            display: none;
        }
    }
    .user-popup {
        position: absolute;
        top: 90%;
        left: 0;
        z-index: 10;
        width: 220px;
        a:hover {
            text-decoration: none;
        }
    }
}

.stream-notification {
    background: whitesmoke;
    border: solid #e2e2e2;
    border-width: 1px 1px 0 1px;
    border-radius: 2px 1px 0 0;
    font-size: 14px;
    text-align: center;
}

.events {
    .event {
        padding: 45px;
        border-bottom: 1px solid #ddd;
        .image {
            height: 240px;
            background-color: #aaa;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            relative: position;
            .date {
                position: absolute;
                right: 30px;
                top: 15px;
                background-color: black;
                color: white;
                padding: 10px 15px;
                text-align: center;
                .font-din;
                .day {
                    font-size: 30px;
                }
                .month {
                    font-size: 14px;
                    letter-spacing: 1px;
                    margin-bottom: -5px;
                    text-transform: uppercase;
                }
                .time {
                    border-top: 1px solid #777;
                    padding-top: 6px;
                    font-size: 12px;
                    text-transform: uppercase;
                }
            }
        }
        .details {
            h2 {
                margin-bottom: 20px;
                margin-top: 10px;
                font-size: 24px;
            }
            .location {
                margin-top: 30px;
                margin-bottom: 8px;
            }
            .fee,
            .location,
            .dresscode {
                font-size: 14px;
                color: #222;
            }
            .fee,
            .dresscode {
                margin-right: 30px;
                display: inline-block;
            }
            i {
                margin-right: 3px;
                color: @brand-main;
            }
            p {
                color: #444;
                line-height: 1.7;
            }
        }
        &:last-child {
            border-bottom: none;
        }
    }
}

.plan-image {
    height: 60px;
    width: 60px;
    opacity: .8;
    margin-top: 5px;
    background-repeat: no-repeat;
    background-size: 360px 60px;
}

.transparent-list {
    padding: 0;
    margin: 0;
    li {
        border-left: solid 2px @brand-main;
        margin-bottom: 10px;
        &:hover {
            background: rgba(255, 255, 255, 0.3);
        }
    }
    a {
        font-size: 13px;
        display: block;
        overflow: hidden;
        padding: 0 20px 0 15px;
        span {
            &.list-label {
                text-align: center;
                font-weight: bold;
                opacity: 0.5;
            }
            &.list-title {
                font-size: 15px;
                display: block;
                margin-top: 5px;
                small {
                    font-size: 12px;
                    color: #777;
                }
            }
        }
        &:hover {
            .list-title {
                color: @brand-main;
            }
        }
    }
}

.checkmark {
    stroke: green;
    stroke-dashoffset: 745.74853515625;
    stroke-dasharray: 745.74853515625;
    animation: dash 2s ease-out forwards;
}

@keyframes dash {
    0% {
        stroke-dashoffset: 745.74853515625;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

.onboarding {
    &_image {
        margin-bottom: 30px;
        text-align: center;
        img {
            width: 300px;
        }
    }
}

.paystack-card {
    background: url('/assets/img/credit-cards.png') no-repeat;
    width: 45px;
    height: 30px;
    background-size: 45px 90px;
    &.visa {
        background-position: 0 0;
    }
    &.mastercard {
        background-position: 0 -30px;
    }
    &.verve {
        background-position: 0 -60px;
    }
    @media (min--moz-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (-webkit-min-device-pixel-ratio: 2),
    (min-device-pixel-ratio: 2) {
        background-image: url('/assets/img/credit-cards@2x.png');
    }
}

.terms {
    &-body {
        padding: 50px;
    }
    &-header {
        font-size: 2em;
        color: @brand-main;
        .font-din;
    }
    &-content {
        line-height: 1.7;
    }
    &-list {
        padding-left: 10px;
        li {
            margin-bottom: 30px;
        }
        strong {
            text-transform: capitalize;
        }
    }
}

.no-bullets {
    font-size: 15px;
    margin-bottom: 0;
    li {
        margin-bottom: 0;
    }
}

.charge-warning {
    padding: 15px 30px;
    text-align: center;
    border: solid 1px rgba(0, 0, 0, 0.05);
    border-width: 1px 0;
    font-size: 14px;
    margin-bottom: 20px;
    a {
        color: @brand-primary;
    }
}

.contains-user-popup {
    position: relative;
}

.title-badge {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 11px;
    margin-left: 5px;
    margin-top: 3px;
    display: inline-block;
    vertical-align: text-top;
}

.invite-box {
    padding: 15px;
    text-align: center;
    border-top: solid 2px #fc3;
    font-size: 14px;
}
