.input-lg {
    height: 50px;
    font-size: 15px;
    padding: 10px 13px;
}

.empty-div {
    padding: 50px 0;
    text-align: center;
    p {
        opacity: 0.5;
    }
}

.panel-300 {
    @media all and (min-width: 767px) {
        min-height: 300px;
    }
}

.panel-400 {
    @media all and (min-width: 767px) {
        min-height: 400px;
    }
}

.text-brand {
    color: @brand-main;
}

.clickable {
    cursor: pointer;
}

.pay-button {
    padding-top: 20px;
}

.shown-xs {
    display: none;
}

@media all and (max-width: 767px) {
    .pay-button {
        padding-top: 0;
        padding-bottom: 20px;
    }
    .no-padder-sm {
        padding-left: 0;
        padding-right: 0;
    }
    .no-border-sm {
        border: 0
    }
    .text-left-sm {
        text-align: left;
    }
    .thumb-md-sm {
        width: 64px;
        height: 64px;
        display: inline-block;
    }
    .push-3-sm {
        left: 25%;
    }
    .pull-left-sm {
        float: left !important;
    }
    .shown-xs {
        display: initial;
    }
    .hidden-mobile {
        display: none;
    }
}
