.breadcrumb-b {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
    &:before {
        content: "";
        position: absolute;
        width: 32px;
        height: 32px;
        background: #000000;
        margin-left: -4px;
        border-radius: 3px 0 0 3px;
    }
    &.alt {
        &:before {
            background: #ddd;
        }
    }
}

// Breadcrumb Level
.breadcrumb-level {
    display: inline-block;
    position: relative;
    Last child &:last-child {
        a {
            cursor: default;
        }
        &::before,
        &::after {
            background: #000000;
        }
    }
    &::before,
    &::after {
        content: '';
        position: absolute;
        left: 0;
        height: 50%;
        width: 100%;
        background: #000000;
        z-index: -1;
    }
    &::before {
        top: 0;
        transform: skew(20deg);
    }
    &::after {
        bottom: 0;
        transform: skew(-20deg);
    }
    a {
        cursor: default;
        pointer-events: none;
        display: inline-block;
        font-size: 13px;
        font-weight: bold;
        position: relative;
        line-height: 2.5;
        padding: 0 20px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        .font-din;
    }
    &.disabled {
        &::before,
        &::after {
            background: #ddd;
        }
        a {
            background: : #ddd;
        }
    }
}
