.material-group {
    position: relative;
    margin-bottom: 15px;
    input,
    select,
    textarea {
        font-size: 15px;
        padding: 10px 13px;
        display: block;
        width: 100%;
        outline: none;
        border: solid 1px rgb(220, 220, 220);
        transition: border .3s ease;
        border-radius: 3px;
    }
    input,
    select {
        height: 50px;
    }
    input:focus,
    select:focus,
    textarea:focus {
        outline: none;
        border-color: @brand-primary;
    }
    input:focus,
    input:valid {
        padding: 20px 12.5px 10px;
        height: 50px;
    }
    select {
        -webkit-appearance: none;
        background: white;
    }
    .select {
        position: relative;
        &:before {
            content: "\f107";
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            position: absolute;
            top: 13px;
            right: 15px;
            font-size: 25px;
        }
        &.disabled {
            select {
                opacity: 0.5;
                cursor: default;
                pointer-events: none;
            }
            &:before {
                display: none;
            }
        }
    }
    /* LABEL ======================================= */
    label {
        color: #999;
        font-size: 15px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 13px;
        top: 15px;
        margin: 0;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }
    /* active state */
    input:focus ~ label,
    input:valid ~ label {
        top: 6px;
        font-size: 11px;
        font-weight: bold;
        color: @brand-primary;
    }
    &.fixed-label {
        input {
            padding: 20px 12.5px 10px;
            height: 50px;
        }
        label {
            top: 6px;
            font-size: 11px;
            font-weight: bold;
            color: @brand-primary;
        }
    }
}
