.btn {
    font-weight: bold;
    border-radius: @btn-border-radius;
    outline: 0!important;
    text-transform: capitalize;
    line-height: @line-height-base;
}

.btn-link {
    color: @text-color;
    &.active {
        webkit-box-shadow: none;
        box-shadow: none;
    }
}

.btn-default {
    background: whitesmoke;
    border: solid 1px rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.02);
    &:hover,
    &:active,
    &:focus {
        color: @text-color;
    }
    &:hover {
        border: solid 1px rgba(0, 0, 0, 0.07);
        background: rgba(0, 0, 0, 0.05);
    }
    &.btn-bg {
        border-color: rgba(0, 0, 0, 0.1);
        background-clip: padding-box;
    }
    &.ng-loading {
        .spinner .se {
            background: #3676c8;
        }
    }
    &:disabled {
        color: #777;
    }
}

.btn-clear {
    background: transparent;
    border: solid 1px @text-color;
    color: @text-color;
    &:hover,
    &:active,
    &:focus {
        color: @text-color;
    }
    &:hover {
        background: rgba(0, 0, 0, 0.05);
    }
}

.btn-clear-danger {
    background: transparent;
    border: solid 1px @brand-danger;
    color: @brand-danger;
    &:hover,
    &:active,
    &:focus {
        color: @brand-danger;
    }
    &:hover {
        background: rgba(0, 0, 0, 0.05);
    }
    &:disabled {
        border-color: @text-muted;
        color: @text-muted;
    }
}

.btn-primary {
    .button-variant(@brand-main, @text-color, @text-color);
}

.btn-success {
    .button-variant(#fff, @brand-success, @brand-success);
}

.btn-info {
    .button-variant(#fff, @brand-info, @brand-info);
}

.btn-warning {
    .button-variant(#fff, @brand-warning, @brand-warning);
}

.btn-danger {
    .button-variant(#fff, @brand-danger, @brand-danger);
}

.btn-dark {
    .button-variant(#fff, @brand-dark, @brand-dark);
}

.btn-black {
    .button-variant(#fff, @brand-black, @brand-black);
}

.btn-brand {
    .button-variant(@text-color, @brand-main, @brand-main);
}

.btn-icon {
    padding: 0 !important;
    text-align: center;
    width: 34px;
    height: 34px;
    i {
        top: -1px;
        position: relative;
        line-height: 34px;
    }
    &.btn-sm {
        width: 30px;
        height: 30px;
        i {
            line-height: 30px;
        }
    }
    &.btn-lg {
        width: 45px;
        height: 45px;
        i {
            line-height: 45px;
        }
    }
}

.btn-rounded {
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 15px;
    &.btn-lg {
        padding-left: 25px;
        padding-right: 25px;
    }
}

.btn {
    > i {
        &.pull-left,
        &.pull-right {
            line-height: @line-height-base;
        }
    }
}

.btn-block {
    padding-left: 12px;
    padding-right: 12px;
}

.btn-group-vertical > .btn:first-child:not(:last-child) {
    border-top-right-radius: @border-radius-base;
}

.btn-group-vertical > .btn:last-child:not(:first-child) {
    border-bottom-left-radius: @border-radius-base;
}

.btn-addon {
    i {
        margin: -7px -12px;
        margin-right: 12px;
        background-color: rgba(0, 0, 0, 0.1);
        width: 34px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        float: left;
        position: relative;
        border-radius: @btn-border-radius 0 0 @btn-border-radius;
        &.pull-right {
            margin-right: -12px;
            margin-left: 12px;
            border-radius: 0 @btn-border-radius @btn-border-radius 0;
        }
    }
    &.btn-sm {
        i {
            margin: -6px -10px;
            margin-right: 10px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            &.pull-right {
                margin-right: -10px;
                margin-left: 10px;
            }
        }
    }
    &.btn-lg {
        i {
            margin: -11px -16px;
            margin-right: 16px;
            width: 45px;
            height: 45px;
            line-height: 45px;
            &.pull-right {
                margin-right: -16px;
                margin-left: 16px;
            }
        }
    }
    &.btn-default {
        i {
            background-color: transparent;
            border-right: 1px solid @border-color;
        }
    }
}

.btn-groups .btn {
    margin-bottom: 5px;
}

.loading-button {
    position: relative;
    &.ng-loading-failure {
        background: @brand-danger;
        border-color: @brand-danger;
    }
    .loading-state,
    .loading-success,
    .loading-failure {
        opacity: 0;
    }
    .loading-success,
    .loading-failure {
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
    &.ng-loading,
    &.ng-loading-success,
    &.ng-loading-failure {
        pointer-events: none;
        cursor: default;
        .default-state {
            opacity: 0;
        }
    }
    &.ng-loading {
        .loading-state {
            opacity: 1;
        }
    }
    &.ng-loading-success,
    &.ng-loading-failure {
        // min-width: 167px;
        i {
            font-size: 20px;
        }
    }
    &.ng-loading-success {
        .loading-success {
            opacity: 1;
        }
    }
    &.ng-loading-failure {
        .loading-failure {
            opacity: 1;
        }
    }
}


/* === Spinner === */

@-webkit-keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.2;
    }
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.2;
    }
}

.spinner {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: -10px auto 0;
}

.spinner .se {
    width: 7%;
    height: 25%;
    background: white;
    position: absolute;
    left: 33.3%;
    top: 37%;
    opacity: 0;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.spinner .b1 {
    -moz-transform: rotate(0deg) translate(0, -142%);
    -ms-transform: rotate(0deg) translate(0, -142%);
    -webkit-transform: rotate(0deg) translate(0, -142%);
    transform: rotate(0deg) translate(0, -142%);
    -moz-animation: fade 0.75s infinite 0s;
    -webkit-animation: fade 0.75s infinite 0s;
    animation: fade 0.75s infinite 0s;
}

.spinner .b2 {
    -moz-transform: rotate(30deg) translate(0, -142%);
    -ms-transform: rotate(30deg) translate(0, -142%);
    -webkit-transform: rotate(30deg) translate(0, -142%);
    transform: rotate(30deg) translate(0, -142%);
    -moz-animation: fade 0.75s infinite 0.0625s;
    -webkit-animation: fade 0.75s infinite 0.0625s;
    animation: fade 0.75s infinite 0.0625s;
}

.spinner .b3 {
    -moz-transform: rotate(60deg) translate(0, -142%);
    -ms-transform: rotate(60deg) translate(0, -142%);
    -webkit-transform: rotate(60deg) translate(0, -142%);
    transform: rotate(60deg) translate(0, -142%);
    -moz-animation: fade 0.75s infinite 0.125s;
    -webkit-animation: fade 0.75s infinite 0.125s;
    animation: fade 0.75s infinite 0.125s;
}

.spinner .b4 {
    -moz-transform: rotate(90deg) translate(0, -142%);
    -ms-transform: rotate(90deg) translate(0, -142%);
    -webkit-transform: rotate(90deg) translate(0, -142%);
    transform: rotate(90deg) translate(0, -142%);
    -moz-animation: fade 0.75s infinite 0.1875s;
    -webkit-animation: fade 0.75s infinite 0.1875s;
    animation: fade 0.75s infinite 0.1875s;
}

.spinner .b5 {
    -moz-transform: rotate(120deg) translate(0, -142%);
    -ms-transform: rotate(120deg) translate(0, -142%);
    -webkit-transform: rotate(120deg) translate(0, -142%);
    transform: rotate(120deg) translate(0, -142%);
    -moz-animation: fade 0.75s infinite 0.25s;
    -webkit-animation: fade 0.75s infinite 0.25s;
    animation: fade 0.75s infinite 0.25s;
}

.spinner .b6 {
    -moz-transform: rotate(150deg) translate(0, -142%);
    -ms-transform: rotate(150deg) translate(0, -142%);
    -webkit-transform: rotate(150deg) translate(0, -142%);
    transform: rotate(150deg) translate(0, -142%);
    -moz-animation: fade 0.75s infinite 0.3125s;
    -webkit-animation: fade 0.75s infinite 0.3125s;
    animation: fade 0.75s infinite 0.3125s;
}

.spinner .b7 {
    -moz-transform: rotate(180deg) translate(0, -142%);
    -ms-transform: rotate(180deg) translate(0, -142%);
    -webkit-transform: rotate(180deg) translate(0, -142%);
    transform: rotate(180deg) translate(0, -142%);
    -moz-animation: fade 0.75s infinite 0.375s;
    -webkit-animation: fade 0.75s infinite 0.375s;
    animation: fade 0.75s infinite 0.375s;
}

.spinner .b8 {
    -moz-transform: rotate(210deg) translate(0, -142%);
    -ms-transform: rotate(210deg) translate(0, -142%);
    -webkit-transform: rotate(210deg) translate(0, -142%);
    transform: rotate(210deg) translate(0, -142%);
    -moz-animation: fade 0.75s infinite 0.4375s;
    -webkit-animation: fade 0.75s infinite 0.4375s;
    animation: fade 0.75s infinite 0.4375s;
}

.spinner .b9 {
    -moz-transform: rotate(240deg) translate(0, -142%);
    -ms-transform: rotate(240deg) translate(0, -142%);
    -webkit-transform: rotate(240deg) translate(0, -142%);
    transform: rotate(240deg) translate(0, -142%);
    -moz-animation: fade 0.75s infinite 0.5s;
    -webkit-animation: fade 0.75s infinite 0.5s;
    animation: fade 0.75s infinite 0.5s;
}

.spinner .b10 {
    -moz-transform: rotate(270deg) translate(0, -142%);
    -ms-transform: rotate(270deg) translate(0, -142%);
    -webkit-transform: rotate(270deg) translate(0, -142%);
    transform: rotate(270deg) translate(0, -142%);
    -moz-animation: fade 0.75s infinite 0.5625s;
    -webkit-animation: fade 0.75s infinite 0.5625s;
    animation: fade 0.75s infinite 0.5625s;
}

.spinner .b11 {
    -moz-transform: rotate(300deg) translate(0, -142%);
    -ms-transform: rotate(300deg) translate(0, -142%);
    -webkit-transform: rotate(300deg) translate(0, -142%);
    transform: rotate(300deg) translate(0, -142%);
    -moz-animation: fade 0.75s infinite 0.625s;
    -webkit-animation: fade 0.75s infinite 0.625s;
    animation: fade 0.75s infinite 0.625s;
}

.spinner .b12 {
    -moz-transform: rotate(330deg) translate(0, -142%);
    -ms-transform: rotate(330deg) translate(0, -142%);
    -webkit-transform: rotate(330deg) translate(0, -142%);
    transform: rotate(330deg) translate(0, -142%);
    -moz-animation: fade 0.75s infinite 0.6875s;
    -webkit-animation: fade 0.75s infinite 0.6875s;
    animation: fade 0.75s infinite 0.6875s;
}
