<div class="container container-md">
    <div class="sidebar sidebar-sm">
        <ul class="sidebar-list">
            <li ui-sref-active="active"><a ui-sref="user.account.profile">Profile</a></li>
            <!-- <li ui-sref-active="active"><a ui-sref="user.account.social">Social</a></li> -->
            <li ui-sref-active="active"><a ui-sref="user.account.membership">Membership</a></li>
            <li ui-sref-active="active" ng-if="User.subscription && User.plan.can_buy_addon"><a ui-sref="user.account.addons">Add-ons</a></li>
            <li ui-sref-active="active" ng-hide="User.has_team && User.is_team_admin"><a ui-sref="user.account.team">Team</a></li>
            <li ui-sref-active="active"><a ui-sref="user.account.payment">Payment</a></li>
            <li ui-sref-active="active"><a ui-sref="user.account.invoices">Invoices</a></li>
            <li ui-sref-active="active"><a ui-sref="user.account.purchases">Purchases</a></li>
            <li ui-sref-active="active" ng-if="User.subscription"><a ui-sref="user.account.printing">Printing</a></li>
        </ul>
    </div>
    <div class="app-content content-lg" ui-view>
    </div>
</div>
