<div class="panel panel-default wrapper-lg">
    <div class="m-b-lg">
        <div class="h4 text-uppercase font-bold font-din m-b-sm">Invite to team</div>
        <p class="text-muted">Enter an email address to invite a team member. After they accept to join your team, you can choose a subscription for them</p>
    </div>
    <form name="inviteUserForm">
        <input type="text" class="form-control" ng-model="invite_email" ng-change="search(invite_email)" ng-model-options="{debounce: 500}" placeholder="Search or enter an email address" required>
        <div class="wrapper-sm text-sm text-center" ng-show="searching"><i class="fa fa-spinner fa-spin"></i> Searching</div>
        <div class="padder-v" ng-show="users.length">
            <div class="font-din h5 text-center m-b-sm"><b>SUGGESTED</b></div>
            <ul class="list-group list-group-lg no-radius no-border no-bg m-b-none" ng-show="!searching && users.length > 0">
                <li class="list-group-item clearfix clickable" ng-repeat="user in users | limitTo: 4" ng-click="choose(user)">
                    <a class="avatar thumb-xs pull-left m-r m-t-xs">
                        <img ng-show="user.image" ng-src="{{getThumbnail(user.image)}}">
                        <img ng-hide="user.image" gravatar-src="user.email" gravatar-size="100">
                    </a>
                    <div class="clear">
                        <div><a class="text-xs">{{user.first_name}} {{user.last_name}} <span ng-show="!user.first_name && !user.last_name">New User</span></a></div>
                        <div class="text-ellipsis text-muted text-xs">{{user.email}}</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="form-group m-b-md">
            <div class="checkbox text-xs">
                <label class="i-checks">
                    <input type="checkbox" ng-model="use_team_card">
                    <i></i> Can Use Team Card
                </label>
            </div>
        </div>
        <div ng-show="not_a_member" class="text-xs m-b-lg">
            <hr>
            <div class="inline pull-left m-r-sm"><i class="icon-info fa-3x text-danger"></i></div>
            The email address you're trying to invite is not a member on Workstation but you can invite them to create an account. <a ng-click="sendInvite()" class="text-primary">Send Invite</a>
        </div>
        <div class="submit-group">
            <button class="btn btn-clear-danger" ng-click="closeThisDialog()">Cancel</button>
            <button class="btn btn-brand pull-right" ng-click="invite()" ng-disabled="inviteUserForm.$invalid" ng-loading="userInvited">Send</button>
        </div>
    </form>
</div>
