<div class="panel panel-default wrapper-lg">
    <div>
        <p class="text-sm m-b-xs"><b>Office Size:</b> 4</p>
        <p class="text-sm m-b-xs"><b>Additional Seats:</b> 2</p>
        <p class="text-sm m-b-xs"><b>Current Occupancy:</b> 5</p>
        <p class="text-sm m-b-xs"><b>Tokens:</b> 100</p>
        <p class="text-sm m-b-xs"><b>B&W Printing:</b> 20</p>
        <p class="text-sm m-b-xs"><b>Color Printing:</b> 5</p>
        <p class="text-sm m-b-xs"><b>Subscribed on:</b> {{(subscription.created_at | date: "mediumDate") || "NA"}}</p>
        <p class="text-sm m-b-xs"><b>End Date:</b> {{(subscription.end_date | date: "mediumDate") || "NA"}}</p>
    </div>
    <hr class="m-b-sm">
    <div class="submit-group">
        <ul class="list-group no-border no-radius text-tiny">
            <li class="list-group-item"><a class="text-primary" ng-click="subscribe()">Add extra seats</a></li>
            <li class="list-group-item"><a class="text-danger">Cancel office plan</a></li>
        </ul>
    </div>
</div>
