<div class="panel panel-default wrapper-lg">
    <div class="m-b-lg">
        <div class="h4 text-uppercase font-bold font-din m-b-sm">Remove <b>{{user.first_name}} {{user.last_name}}</b> from Team</div>
        <p class="text-muted">By choosing to remove this user, they lose their current subscription and tokens.</p>
    </div>
    <form action="">
        <div class="submit-group">
            <button class="btn btn-lg btn-brand btn-block" ng-click="remove(user)" ng-loading="removedFromTeam">Yes, Remove</button>
        </div>
    </form>
</div>
