<div id="Member">
    <div class="panel panel-default panel-300 text-center">
        <div class="thumb-lg avatar" style="margin-top: -50px;">
            <img ng-hide="member.image" gravatar-src="member.email" gravatar-size="100">
            <img ng-show="member.image" ng-src="{{getThumbnail(member.image)}}">
        </div>
        <h4 class="font-thin m-b-xs">
        	{{member.first_name}} {{member.last_name}}
        </h4>
        <p class="m-b-xs" ng-show="member.company">Works at {{member.company}}</p>
        <p class="m-b-xs text-muted" ng-hide="member.company">Company Unavailable</p>
        <hr class="m-t-md m-b-md">
        <p class="text-xs m-b-xs"><i class="icon-home"></i> {{member.home_location.description}}</p>
        <p class="text-xs m-b-md"><i class="icon-clock"></i> Joined {{member.created_at | date : "mediumDate"}}</p>
        <div>
            <a class="btn btn-lg btn-brand m-b-lg" ng-click="message(member)">Send Message</a>
        </div>
        <div class="clear padder-lg" ng-show="member.bio">
        	<hr class="m-t-none m-b-md">
        	<p class="text-muted text-xs m-b-lg">{{member.bio}}</p>
        </div>
    </div>
</div>
