<div id="Community">
    <div class="b-b">
        <div class="container container-md text-center">
            <form action="searchForm" class="m-t-md m-b-md">
                <div class="form-group pos-rlt" ng-init="search = $stateParams.search">
                    <input name="search" type="text" ng-change="find(search)" ng-model-options="{debounce: 200}" placeholder="Search for someone in the community" class="form-control input-md" ng-model="search" ng-enter="reload({search: search})">
                    <div style="position: absolute; right: 20px; top: 10px;" ng-show="searching">
                        <i class="fa fa-spinner fa-spin"></i> Searching
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container container-md">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <div class="panel panel-default wrapper-lg m-t-lg no-border-sm no-padder-sm">
                    <div class="padder text-tiny text-uppercase font-din">
                        <p ng-hide="$stateParams.search">Showing {{meta.total}} members in your location</p>
                        <p ng-show="$stateParams.search">People results for {{$stateParams.search}} &bull; {{meta.total}} members</p>
                    </div>
                    <div class="wrapper-sm inline w-full" ng-repeat="member in members | filter: companyFilter" ng-class="{'b-b': !$last}">
                        <div class="row">
                            <div class="col-md-2 col-xs-3 text-center" style="padding: 0">
                                <div class="thumb-md thumb-md-sm avatar">
                                    <img ng-hide="member.image" gravatar-src="member.email" gravatar-size="100">
                                    <img ng-show="member.image" ng-src="{{getThumbnail(member.image)}}">
                                </div>
                            </div>
                            <div class="col-md-10 col-xs-9" style="padding: 0">
                                <p class="m-t-xs m-b-xs"><a class="link-underline" ng-click="view(member)">{{member.first_name}} {{member.last_name}}</a></p>
                                <p class="text-xs m-b-xs"><span ng-show="member.company"><b>{{member.company}}</b> &bull;</span> {{member.home_location.description}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper-md" ng-show="members.length == 0">
                        <div class="empty-div">
                            <div class="m-b-sm"><i class="icon-frame fa-5x"></i></div>
                            <h4 class="font-thin">No results</h4>
                        </div>
                    </div>
                    <div class="text-center" paging page="meta.page" page-size="meta.perPage" total="meta.total" paging-action="goToPage(page)" ul-class="pagination m-n"></div>
                </div>
            </div>
            <div class="hidden-mobile col-xs-12 col-sm-4">
                <div class="panel panel-default wrapper-lg m-t-lg">
                    <p class="font-bold m-t-none">Filter by Company</p>
                    <div class="m-t-md">
                        <div class="checkbox" style="margin-bottom: 13px" ng-repeat="company in companies track by $index">
                            <label class="i-checks text-sm">
                                <input type="checkbox" ng-model="filteredCompanies[company]">
                                <i></i> {{company}}
                            </label>
                        </div>
                    </div>
                </div>
                <div id="invite" class="invite-box">
                    <a ng-dialog="InviteToWorkstation" ng-dialog-scope="this"> <span class="pull-left"><i class="icon-user-follow"></i></span> Invite your friends to Workstation</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="InviteToWorkstation">
    <div class="panel panel-default wrapper-lg">
        <div class="m-b-lg">
            <div class="h4 text-uppercase font-bold font-din m-b-sm">INVITE TO WORKSTATION</div>
        </div>
        <form class="inviteForm">
            <div class="form-group">
                <div class="form-group m-b-md">
                    <textarea class="form-control input-md" ng-model="inviteMessage" rows="5" required></textarea>
                </div>
                <div class="row text-center">
                    <div class="col-xs-4">
                        <button class="btn btn-block" ng-disabled="!inviteMessage" ng-click="share(inviteMessage, 'twitter')" style="background: #55acee; color: white">
                            <i class="fa fa-twitter"></i>
                        </button>
                    </div>
                    <div class="col-xs-4">
                        <button class="btn btn-block" ng-disabled="!inviteMessage" ng-click="share(inviteMessage, 'facebook')" style="background: #3b5998; color: white">
                            <i class="fa fa-facebook"></i>
                        </button>
                    </div>
                    <div class="col-xs-4">
                        <button class="btn btn-block" ng-disabled="!inviteMessage" ng-click="share(inviteMessage, 'linkedin')" style="background: #0077b5; color: white">
                            <i class="fa fa-linkedin"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <div class="h4 text-uppercase font-bold font-din m-b-md">OR SEND AN EMAIL</div>
        <form name="inviteEmailForm">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label class="sr-only" for="emailToInvite">Email address</label>
                        <input type="email" class="form-control" id="emailToInvite" ng-model="email" placeholder="Enter email">
                    </div>
                </div>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary" ng-disabled="inviteEmailForm.$invalid" ng-loading="emaiInviteSent" ng-click="share(email, 'email', closeThisDialog)">Send Invite</button>
                </div>
            </div>
        </form>
    </div>
</script>
