<div ng-controller="FeedController">
    <div class="section-title">
        NEWSFEED
    </div>
    <form name="newMessageForm" class="post-message">
        <textarea name="post" id="post" rows="2" class="form-control" ng-model="message" placeholder="What's on your mind?" style="resize: none"></textarea>
        <div class="actions m-t-sm">
            <a class="text-xs" disbled><i class="icon-camera"></i> Photo</a>
            <button class="btn btn-sm btn-primary pull-right" ng-loading="postedMessage" ng-disabled="newMessageForm.$invalid" ng-click="send(message)">Send</button>
        </div>
    </form>
    <div class="wrapper stream-notification" ng-show="communityUpdates.length">
        <a ng-click="viewUpdates()" class="text-primary">Show {{communityUpdates.length}} new updates</a>
    </div>
    <div class="stream">
        <div class="loader-wrap" ng-show="!feed">
            <div class="loader">
                <div class="loader__figure"></div>
            </div>
        </div>
        <div class="stream-message" ng-repeat="convo in feed" ng-class="{'animated fadeInLeft': convo.new, 'animated fadeOutRight': convo.deleting}" ng-hide="convo.deleted">
            <div class="stream-actor">
                <div class="thumb-sm avatar pull-left m-r-sm">
                    <img gravatar-src="convo._actor.email" gravatar-size="100">
                </div>
                <div class="">
                    <div class="pull-right text-sm text-muted">{{moment(convo.time).fromNow()}}</div>
                    <div class="font-bold text-sm"><a>{{convo._actor.first_name}} {{convo._actor.last_name}}</a></div>
                    <div class="text-muted text-xs">{{convo._actor.company || convo._actor.home_location}}</div>
                </div>
            </div>
            <div class="stream-title m-t-sm">
                {{convo.post}}
            </div>
            <div class="stream-post-actions">
                <a href><i class="icon-emoticon-smile"></i> Like</a>
                <a href ng-click="delete(convo, $index)"><i class="icon-action-redo"></i> Comments</a>
                <a class="pull-right" href><i class="fa fa-ellipsis-h"></i></a>
            </div>
        </div>
    </div>
</div>
