<div ng-switch-when="subscription.create">
    {{trail.plan_name || trail.group_plan_name || "Deleted Plan"}} {{trail.reference.interval}} added on {{trail.created_at | date: "mediumDate"}}. Reason: <b>{{trail.reason}}</b>
    <br>
    <div class="m-t-xs">
        <span class="text-muted">For <a ui-sref="admin.member({id: trail.user.id})" ng-click="closeThisDialog()" class="text-primary">{{trail.user.first_name}} {{trail.user.last_name}} ({{trail.user.email}})</a> <b ng-show="showAdmin"> by {{trail.admin.first_name}} {{trail.admin.last_name}}</b></span>
    </div>
</div>
<div ng-switch-when="subscription.change_days" ng-init="trail = formatEditTrail(trail)">
    User subscription edited from {{trail.change.from}} to {{trail.change.to}}. Reason: <b>{{trail.reason}}</b>
    <br>
    <div class="m-t-xs">
        <span class="text-muted">For <a ui-sref="admin.member({id: trail.user.id})" ng-click="closeThisDialog()" class="text-primary">{{trail.user.first_name}} {{trail.user.last_name}} ({{trail.user.email}})</a> <b ng-show="showAdmin"> by {{trail.admin.first_name}} {{trail.admin.last_name}}</b></span>
    </div>
</div>
<div ng-switch-when="subscription.cancel">
    User subscription ({{trail.plan_name || trail.group_plan_name}} {{trail.reference.interval}}) cancelled on {{trail.created_at | date: "mediumDate"}}. Reason: <b>{{trail.reason}}</b>
    <br>
    <div class="m-t-xs">
        <span class="text-muted">For <a ui-sref="admin.member({id: trail.user.id})" ng-click="closeThisDialog()" class="text-primary">{{trail.user.first_name}} {{trail.user.last_name}} ({{trail.user.email}})</a> <b ng-show="showAdmin"> by {{trail.admin.first_name}} {{trail.admin.last_name}}</b></span>
    </div>
</div>
<div ng-switch-when="user.suspend">
    User suspended on {{trail.created_at | date: "mediumDate"}}. Reason: <b>{{trail.reason}}</b>
    <br>
    <div class="m-t-xs">
        <span class="text-muted">For <a ui-sref="admin.member({id: trail.user.id})" ng-click="closeThisDialog()" class="text-primary">{{trail.user.first_name}} {{trail.user.last_name}} ({{trail.user.email}})</a> <b ng-show="showAdmin"> by {{trail.admin.first_name}} {{trail.admin.last_name}}</b></span>
    </div>
</div>
<div ng-switch-when="user.unsuspend">
    User unsuspended on {{trail.created_at | date: "mediumDate"}}. Reason: <b>{{trail.reason}}</b>
    <br>
    <div class="m-t-xs">
        <span class="text-muted">For <a ui-sref="admin.member({id: trail.user.id})" ng-click="closeThisDialog()" class="text-primary">{{trail.user.first_name}} {{trail.user.last_name}} ({{trail.user.email}})</a> <b ng-show="showAdmin"> by {{trail.admin.first_name}} {{trail.admin.last_name}}</b></span>
    </div>
</div>
<div ng-switch-when="purchase.create">
    {{trail.reference.quantity}} {{trail.reference.add_on.name || "Deleted add-on"}} added on {{trail.created_at | date: "mediumDate"}}. Reason: <b>{{trail.reason}}</b>
    <br>
    <div class="m-t-xs">
        <span class="text-muted">For <a ui-sref="admin.member({id: trail.user.id})" ng-click="closeThisDialog()" class="text-primary">{{trail.user.first_name}} {{trail.user.last_name}} ({{trail.user.email}})</a> <b ng-show="showAdmin"> by {{trail.admin.first_name}} {{trail.admin.last_name}}</b></span>
    </div>
</div>
<div ng-switch-when="event.delete">
    Event {{trail.reference.event.name}} deleted on {{trail.created_at | date: "mediumDate"}}. <b class="text-muted" ng-show="showAdmin"> by {{trail.admin.first_name}} {{trail.admin.last_name}}</b></span>
</div>
<div ng-switch-when="booking.delete">
    User booking deleted on {{trail.created_at | date: "mediumDate"}}. Reason: <b>{{trail.reason}}</b>
    <br>
    <div class="m-t-xs">
        <span class="text-muted">For <a ui-sref="admin.member({id: trail.user.id})" ng-click="closeThisDialog()" class="text-primary">{{trail.user.first_name}} {{trail.user.last_name}} ({{trail.user.email}})</a> <b ng-show="showAdmin"> by {{trail.admin.first_name}} {{trail.admin.last_name}}</b></span>
    </div>
</div>

