<div class="sidebar-profile">
    <div class="thumb-sm avatar pull-left m-r-sm">
        <img gravatar-src="User.email" gravatar-size="100">
    </div>
    <div class="font-bold h4 m-b-xs">{{User.firstname}} {{User.lastname | limitTo : 1}}.</div>
    <div class="text-muted text-tiny font-din">TWITTER INC</div>
    <div class="clear row">
        <hr class="m-t-sm m-b-sm">
    </div>
    <div>
        <div class="text-tiny font-din">HOME LOCATION</div>
        <div class="h4">Ikoyi</div>
    </div>
</div>
<hr>
<div class="padder" id="your-network" ng-controller="SocialController">
    <div class="text-xs font-din font-bold m-b-sm">YOUR NETWORK</div>
    <p class="text-xs m-b-md">Connect your social accounts to find people you know on Workstation</p>
    <button class="btn btn-default font-din btn-block">CONNECT</button>
</div>
