<div class="container">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="events">
            <div ng-if="User.isAdmin">
                <div class="btn btn-default pull-right" ng-click="newEvent()">Add Event</div>
                <h3><span class="m-t-xs">Upcoming Events</span></h3>
            </div>
            <div class="wrapper-md" ng-show="events.length == 0">
                <div class="empty-div">
                    <div class="m-b-sm"><i class="icon-frame fa-5x"></i></div>
                    <h4>No events</h4>
                </div>
            </div>
            <div class="event" ng-repeat="event in events">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="image" style="background-image: url({{event.image_url}});">
                            <div class="date">
                                <div class="month">{{event.time | date : "MMM"}}</div>
                                <div class="day">{{event.time | date : "dd"}}</div>
                                <div class="time">{{event.time | date : "shortTime"}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8 details">
                        <h2 class="font-thin">
                            <a ng-click="editEvent(event)" ng-if="User.isAdmin" class="text-primary">{{event.name}}</a>
                            <span ng-if="!User.isAdmin">{{event.name}}</span>
                        </h2>
                        <p>{{event.description}}</p>
                        <div class="location"><i class="icon-pointer"></i> <b>Location:</b> {{event.location.description}}</div>
                        <div class="fee" ng-show="event.ticket_link"><i class="icon-link"></i> <b>Link:</b> <a class="text-primary" href="{{event.ticket_link}}" target="_blank">{{event.ticket_link}}</a></div>
                        <div class="fee" ng-show="event.ticket_price"><i class="icon-wallet"></i> <b>Cost:</b> {{event.ticket_price | currency : '₦' : 0 }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="NewEvent">
    <div class="panel panel-default wrapper-lg">
        <div class="h4 text-uppercase font-bold font-din m-b-lg">New Event</div>
        <form name="eventCreateForm" ng-controller="CommonEventController">            
            <div class="form-group" ng-hide="event.image_url">
                <label for="">Event Thumbnail</label>
                <input type="file" class="form-control" fileread="event_image" accept="image/*">
            </div>
            <div ng-show="event.image_url">
                <div class="well well-sm text-sm">
                    <a target="_blank" class="text-primary" href="{{event.image_url}}">View Uploaded Image</a>
                    <a ng-click="remove()" class="pull-right">Remove</a>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-lg" ng-model="event.name" placeholder="Name" required>
            </div>
            <div class="form-group">
                <textarea rows="3" class="form-control" ng-model="event.description" placeholder="Description" required></textarea>
            </div>
            <div class="material-group">
                <div class="select" ng-init="event.location_id = User.home_location_id">
                    <select name="location" ng-model="event.location_id" ng-options="location.id as location.description for location in locations" required>
                    </select>
                </div>
            </div>
            <div class="dropdown ui-datepicker" uib-dropdown ng-controller="BookingTimepickerHelper">
                <div class="dropdown-toggle" id="startDropdown">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" placeholder="Date & Time" value="{{event.time | date : 'EEEE MMM d, y h:mm:ss a'}}" uib-dropdown-toggle>
                    </div>
                </div>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <datetimepicker data-ng-model="event.time" data-on-set-time="onTimeSet(newDate, oldDate)" data-before-render="beforeRender($view, $dates, $leftDate, $upDate, $rightDate)"/>
                </ul>
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-lg" ng-model="event.ticket_link" placeholder="Ticket Link (Optional)">
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-lg" ng-model="event.ticket_price" placeholder="Ticket Price (Optional)" currency-mask>
            </div>
            <div class="submit-group">
                <button class="btn btn-default" ng-click="closeThisDialog()">Cancel</button>
                <button class="btn btn-primary pull-right" ng-disabled="eventCreateForm.$invalid" ng-click="save()" ng-loading="eventCreated">
                    {{ uploading ? "Please wait, uploading image" : "Create event" }}
                </button>
            </div>
        </form>
    </div>
</script>
<script type="text/ng-template" id="EditEvent">
    <div class="panel panel-default wrapper-lg">
        <div class="h4 text-uppercase font-bold font-din m-b-lg">New Event</div>
        <form name="eventUpdateForm" ng-controller="CommonEventController">            
            <div class="form-group" ng-hide="event.image_url">
                <label for="">Event Thumbnail</label>
                <input type="file" class="form-control" fileread="event_image" accept="image/*">
            </div>
            <div ng-show="event.image_url">
                <div class="well well-sm text-sm">
                    <a target="_blank" class="text-primary" href="{{event.image_url}}">View Uploaded Image</a>
                    <a ng-click="remove()" class="pull-right">Remove</a>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-lg" ng-model="event.name" placeholder="Name" required>
            </div>
            <div class="form-group">
                <textarea rows="3" class="form-control" ng-model="event.description" placeholder="Description" required></textarea>
            </div>
            <div class="material-group">
                 <div class="select" ng-init="event.location_id = event.location.id">
                    <select name="location" ng-model="event.location_id" ng-options="location.id as location.description for location in locations" required>
                    </select>
                </div>
            </div>
            <div class="dropdown ui-datepicker" uib-dropdown ng-controller="BookingTimepickerHelper">
                <a class="dropdown-toggle" id="startDropdown" uib-dropdown-toggle>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" placeholder="Date & Time" value="{{event.time | date : 'EEEE MMM d, y h:mm:ss a'}}" disabled>
                    </div>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <datetimepicker data-ng-model="event.time" data-on-set-time="onTimeSet(newDate, oldDate)" data-before-render="beforeRender($view, $dates, $leftDate, $upDate, $rightDate)"/>
                </ul>
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-lg" ng-model="event.ticket_link" placeholder="Ticket Link (Optional)">
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-lg" ng-model="event.ticket_price" placeholder="Ticket Price (Optional)" currency-mask>
            </div>            
            <div class="submit-group">
                <button class="btn btn-lg btn-clear-danger" ng-click="delete()" ng-loading="eventDeleted">Delete</button>
                <button class="btn btn-lg btn-primary pull-right" ng-disabled="eventUpdateForm.$invalid" ng-click="save()" ng-loading="eventUpdated">{{uploading ? "Please Wait" : "Save" }}</button>
            </div>
        </form>
    </div>
</script>
