<div class="container" ng-controller="BookingRoomsController">
    <div class="col-xs-9">
        <div class="panel panel-default wrapper-lg">
            <div class="fc-overlay" ng-show="booking">
                <div class="panel bg-white b-a pos-rlt">
                    <span class="arrow left"></span>
                    <div class="h4 font-thin">{{booking.title || "Unnamed Booking"}}</div>
                    <div class="line b-b b-light"></div>
                    <div class="m-b-xs" ng-show="User.isAdmin"><i class="icon-user text-muted m-r-xs"></i> By: <a class="text-primary" ui-sref="admin.member({id: booking.booker.id})">{{booking.booker.first_name}} {{booking.booker.last_name}}</a></div>
                    <div class="m-b-xs"><i class="icon-calendar text-muted m-r-xs"></i> Start: {{booking.start_string}}</div>
                    <div class="m-b-xs"><i class="icon-clock text-muted m-r-xs"></i> End: {{booking.end_string}}</div>
                    <div class="m-b-xs"><i class="icon-pointer text-muted m-r-xs"></i> Where: {{booking.meeting_room.name}}</div>
                    <div class="m-b-xs text-danger" ng-show="booking.past"><i class="icon-info m-r-xs"></i> This booking has ended</div>
                    <div class="m-b-xs text-danger" ng-show="booking.active"><i class="icon-info m-r-xs"></i> This booking is in progress</div>
                </div>
            </div>
            <div ui-calendar="uiConfig.calendar" ng-model="bookingsSources" class="ui-calendar"></div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="btn btn-block btn-lg btn-default m-b-md" ng-click="newBooking()">Book a room</div>
        <div class="panel panel-default panel-400">
            <div class="wrapper b-b b-light text-sm">
                <b>Rooms Available</b>
            </div>
            <div class="wrapper-md" ng-show="rooms.length == 0">
                <div class="empty-div">
                    <div class="m-b-sm"><i class="icon-frame fa-5x"></i></div>
                    <h4>No rooms</h4>
                </div>
            </div>
            <ul class="list-group no-border no-radius text-sm" ng-show="rooms.length > 0">
                <li class="list-group-item " ng-repeat="room in rooms">
                    <span class="text-capitalize text-xs">{{room.name.toLowerCase() || "Unnamed room"}}</span>
                    <br>
                    <span style="font-size: 11px"><i class="fa fa-circle {{room.busy ? 'text-danger' : 'text-success'}}"></i></span>
                    <span class="text-muted" style="font-size: 12px">{{room.busy ? "Busy: " + room.busy.title : "Available Now"}} </span>
                </li>
            </ul>
        </div>
    </div>
</div>
<script type="text/ng-template" id="NewBooking">
    <div class="panel panel-default wrapper-lg">
        <div class="h4 text-uppercase font-bold font-din m-b-lg">New Booking</div>
        <form name="bookingCreateForm">
            <div class="loader-wrap" ng-show="!rooms">
                <div class="loader">
                    <div class="loader__figure"></div>
                </div>
            </div>
            <div class="material-group fixed-label" ng-show="rooms">
                <div class="select">
                    <select name="location" ng-model="booking.meeting_room_id" ng-options="room.id as room.name for room in rooms" required>
                        <option value="" disabled>Choose Room</option>
                    </select>
                </div>
            </div>
            <div class="form-group" ng-show="booking.meeting_room_id">
                <input type="text" class="form-control input-lg" ng-model="booking.title" placeholder="What's the booking for?" required>
            </div>
            <div class="row" ng-controller="BookingTimepickerHelper" ng-show="booking.meeting_room_id">
                <div class="col-xs-7">
                    <div class="dropdown ui-datepicker" uib-dropdown>
                        <div class="dropdown-toggle" id="startDropdown">
                            <div class="form-group">
                                <label class="font-bold m-b-sm text-xs">Meeting Date & Time</label>
                                <input class="form-control input-lg" type="text" value="{{booking.start_time | date : 'EEEE MMM d h:mm a'}}" uib-dropdown-toggle>
                            </div>
                        </div>
                        <ul class="dropdown-menu" uib-dropdown-menu>
                            <datetimepicker data-ng-model="booking.start_time" data-datetimepicker-config="{ minView: 'hour' }" data-on-set-time="onTimeSet(newDate, oldDate)" data-before-render="beforeRender($view, $dates, $leftDate, $upDate, $rightDate)" />
                        </ul>
                    </div>
                </div>
                <div class="col-xs-5">
                    <div class="form-group">
                        <label class="font-bold m-b-sm text-xs">Meeting End</label>
                        <div class="material-group fixed-label">
                            <div class="select">
                                <select name="location" ng-model="booking.length" ng-options="date.length as date.value for date in possibleEndDates" required>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="User.isAdmin">
                <div class="submit-group">
                    <button class="btn btn-lg btn-brand btn-block" ng-disabled="bookingCreateForm.$invalid" ng-click="save()" ng-loading="bookingCreated">Book room</button>
                </div>
            </div>
            <div ng-if="!User.isAdmin">
                <div class="submit-group" ng-show="hasEnoughTokens()">
                    <div class="charge-warning">
                        This room costs {{booking.tokens_needed}} tokens to book for {{booking.length}} hour{{booking.length > 1 ? "s" : ""}}. Your new balance will be {{User.token_allowance - booking.tokens_needed}} tokens.
                    </div>
                    <button class="btn btn-lg btn-brand btn-block" ng-disabled="bookingCreateForm.$invalid" ng-click="save()" ng-loading="bookingCreated">Book room</button>
                </div>
                <div ng-show="booking.meeting_room_id && booking.length && !hasEnoughTokens()">
                    <div class="alert alert-danger">You have {{User.token_allowance}} tokens but need {{booking.tokens_needed}} to book this room for {{booking.length}} hour{{booking.length > 1 ? "s" : ""}}. <a class="text-u-l" ng-click="buyTokens(); closeThisDialog()">Buy {{booking.token_deficit}} more tokens</a> to continue</div>
                </div>
            </div>
        </form>
        <div class="wrapper text-center">
            <a ng-click="closeThisDialog()" class="text-danger">Cancel</a>
        </div>
    </div>
</script>
<script type="text/ng-template" id="ViewBooking">
    <div class="panel panel-default wrapper-lg">
        <div collapse="isCollapsed" class="m-t" ng-show="booking.past">
            <div class="alert alert-warning">
                <p>This booking has ended.</p>
            </div>
        </div>
        <div collapse="isCollapsed" class="m-t" ng-show="booking.active">
            <div class="alert alert-warning">
                <p>This booking is active.</p>
            </div>
        </div>
        <div collapse="isCollapsed" class="m-t" ng-show="!booking.past && !booking.editable">
            <div class="alert alert-warning">
                <p>This booking is locked in. You can't change a booking less than {{User.isAdmin ? "1 hour" : "30 minutes"}} before it is scheduled to start.</p>
            </div>
        </div>
        <div class="h4 text-uppercase font-bold font-din m-b-lg">Booking for {{booking.meeting_room.name}}</div>
        <div class="m-t-md text-sm">
            <div class="m-b-xs" ng-show="User.isAdmin"><i class="icon-user text-muted m-r-xs"></i> By: <a ui-sref="admin.member({id: booking.booker.id})"><span class="text-primary">{{booking.booker.first_name}} {{booking.booker.last_name}}</span></a></div>
            <div class="m-b-xs"><i class="icon-calendar text-muted m-r-xs"></i> Start: {{booking.start_string}}</div>
            <div class="m-b-xs"><i class="icon-clock text-muted m-r-xs"></i> End: {{booking.end_string}}</div>
            <div class="m-b-xs"><i class="icon-pointer text-muted m-r-xs"></i> Where: {{booking.meeting_room.name}}</div>
        </div>
        <div class="submit-group m-t-md" ng-if="booking.self && booking.editable">
            <button class="btn btn-clear-danger" ng-click="closeThisDialog(); deleteBooking(booking);">Delete</button>
            <button class="btn btn-default pull-right" ng-click="closeThisDialog(); editBooking(booking);">Edit</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="EditBooking">
    <div class="panel panel-default wrapper-lg">
        <div class="h4 text-uppercase font-bold font-din m-b-lg">Update Booking</div>
        <form name="bookingUpdateForm" ng-controller="BookingTimepickerHelper">
            <div class="material-group fixed-label">
                <div class="select" ng-init="booking.meeting_room_id = booking.meeting_room.id" ng-class="{disabled: !User.isAdmin}">
                    <select name="location" ng-model="booking.meeting_room_id" ng-options="room.id as room.name for room in rooms" required>
                        <option value="" disabled>{{rooms ? "Choose Room" : "Fetching Meeting Rooms"}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group" ng-show="booking.meeting_room_id">
                <input type="text" class="form-control input-lg" ng-model="booking.title" placeholder="What's the meetiing for?">
            </div>
            <div class="row" ng-controller="BookingTimepickerHelper">
                <div class="col-xs-7" ng-init="calculateEndDates(booking.start_time)">
                    <div class="dropdown ui-datepicker" uib-dropdown>
                        <a class="dropdown-toggle" id="startDropdown" uib-dropdown-toggle>
                            <div class="form-group">
                                <label class="font-bold m-b-sm text-xs">Meeting Start Time</label>
                                <input class="form-control input-lg" type="text" value="{{booking.start_time | date : 'EEEE MMM d h:mm a'}}" disabled>
                            </div>
                        </a>
                        <ul class="dropdown-menu" uib-dropdown-menu>
                            <datetimepicker data-ng-model="booking.start_time" data-datetimepicker-config="{ minView: 'hour' }" data-on-set-time="onTimeSet(newDate, oldDate)" data-before-render="beforeRender($view, $dates, $leftDate, $upDate, $rightDate)" />
                        </ul>
                    </div>
                </div>
                <div class="col-xs-5">
                    <div class="form-group">
                        <label class="font-bold m-b-sm text-xs">Meeting End</label>
                        <div class="material-group fixed-label">
                            <div class="select" ng-class="{disabled: !User.isAdmin}">
                                <select name="location" ng-model="booking.length" ng-options="date.length as date.value for date in possibleEndDates" required>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="submit-group text-right">
                <button class="btn btn-primary" ng-disabled="bookingUpdateForm.$invalid" ng-click="save()" ng-loading="bookingUpdated">Save</button>
            </div>
        </form>
    </div>
</script>
<script type="text/ng-template" id="DeleteBooking">
    <div class="panel panel-default wrapper-lg">
        <form name="bookingDeleteForm" ng-init="notAdminBooking = User.isAdmin && (User.uid != booking.booker.uid)">
            <div class="m-b-md">
                <h4>Please confirm that you want to delete this booking:</h4>
                <p><b>Booking for {{booking.meeting_room.name}} on {{booking.start_time | date : 'mediumDate'}}</b> by <b>{{booking.booker.first_name}} {{booking.booker.last_name}}</b></p>
            </div>
            <div class="form-group" ng-show="notAdminBooking">
                <input type="text" placeholder="Please specify reason for deleting" class="form-control" ng-model="booking.delete_reason" ng-required="notAdminBooking">
            </div>
            <div class="submit-group">
                <button class="btn btn-default" ng-click="closeThisDialog()">Cancel</button>
                <button class="btn btn-danger pull-right" ng-click="confirm(booking)" ng-disabled="bookingDeleteForm.$invalid" ng-loading="bookingDeleted">Delete</button>
            </div>
        </form>
    </div>
</script>
<script type="text/ng-template" id="BookingNotEditable">
    <div class="panel panel-default wrapper-lg">
        <div class="m-b-md text-center">
            <i class="icon-lock fa-4x"></i>
            <h4>Booking locked in</h4>
            <p>Sorry, but you can't change a booking less than {{User.isAdmin ? "30 minutes" : "1 hour"}} before the it is scheduled to start</p>
        </div>
        <div class="submit-group text-center">
            <button class="btn btn-primary" ng-click="closeThisDialog()">Got it</button>
        </div>
    </div>
</script>
